<html lang="uk"
      layout:decorate="~{web/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{text.cart}"></title>
</head>

<body>
<div layout:fragment="content">
    <section class="first-section no-bg" style="min-height: 0 !important;">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a th:href="@{/web/main}" th:text="#{text.main}"></a>
                    </li>
                    <li th:text="#{text.order}"></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="accaunt">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h1 id="title-order-num" th:text="#{text.order}"></h1>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="accaunt__manager">
                        <ul>
                            <li>
                                <p th:text="#{text.cartPersonalManager}"></p>
                            </li>
                            <li>
                                <i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <table id="table">
                        <thead>
                        <tr>
                            <th><span th:text="#{table.header.product}"></span></th>
                            <th><span th:text="#{text.amount}"></span></th>
                            <th><span th:text="#{table.header.priceByProduct}"></span></th>
                            <th><span th:text="#{table.header.totalPrice}"></span></th>
                        </tr>
                        </thead>
                        <tbody id="container-orders">
                        <tr>
                            <td><span class="bt-content" th:text="#{text.cartProduct}"></span></td>
                            <td><span class="bt-content">
                                            <div class="item_quantity">
                                                <button type="button" class="quantity_minus">
                                                    <i class="nut-icon icons-qty-left"></i>
                                                </button>
                                                <input type="text" name="quantity" value="4" class="quantity_input">
                                                <button type="button" class="quantity_plus">
                                                    <i class="nut-icon icons-qty-right"></i>
                                                </button>
                                            </div>
                                        </span></td>
                            <td th:data-th="#{table.header.priceByProduct}">
                                <span class="bt-content">25 <span th:text="#{text.grn}"></span></span>
                            </td>
                            <td><span class="bt-content">100 <span th:text="#{text.grn}"></span></span></td>
                        </tr>
                        <tr>
                            <td><span class="bt-content" th:text="#{text.cartProduct}"></span></td>
                            <td><span class="bt-content">
                                            <div class="item_quantity">
                                                <button type="button" class="quantity_minus">
                                                    <i class="nut-icon icons-qty-left"></i>
                                                </button>
                                                <input type="text" name="quantity" value="1" class="quantity_input">
                                                <button type="button" class="quantity_plus">
                                                    <i class="nut-icon icons-qty-right"></i>
                                                </button>
                                            </div>
                                        </span></td>
                            <td><span class="bt-content">25 <span th:text="#{text.grn}"></span></span></td>
                            <td><span class="bt-content">25 <span th:text="#{text.grn}"></span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <div class="after_table">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="popup__cart_sum">
                                    <div class="sum_item">
                                        <div class="sum_item_title">
                                            <p th:text="#{text.total}+ ': '"></p>
                                        </div>
                                        <div class="sum_item_new">
                                            <p><span id="resSumma">125</span> <i th:text="#{text.grn}"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script layout:fragment="script">
    let urlParams = new URLSearchParams(window.location.search);
    let orderId = urlParams.get('id');
    $(document).ready(async function () {
        if (orderId !== null) {
            let titleNumOrder = $('#title-order-num');
            if (titleNumOrder.length > 0) {
                let key = await changeLanguage('text.order', getCurrentLang());
                titleNumOrder.text(key + ' №' + orderId);
            }
            invokeDataOrderDetails(orderId);
        }
        invokeDataContacts();
    });


    function invokeDataContacts() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `web/contacts/get`)
        request.send();
        request.addEventListener('load', function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                buildContacts(data);
            }
        });
    }

    function invokeDataOrderDetails(id) {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `web/order/${id}`)
        request.send();
        request.addEventListener('load', async function () {
            if (request.status === 200) {
                const data = JSON.parse(request.response);
                const containerOrders = $('#container-orders');
                if (containerOrders.length) {
                    containerOrders.empty();

                    if (data.length > 0) {
                        const key = await changeLanguage('text.gram', getCurrentLang());
                        containerOrders.append(data.map(item => `
                             <tr>
                        <td><span class="bt-content">${item.productName} ${item.mass} ${key}</span></td>
                        <td><span class="bt-content">
                          ${item.count}
                        </span></td>
                        <td th:data-th="#{table.header.priceByProduct}">
                            <span class="bt-content">${item.price}<span th:text="#{text.grn}"></span></span>
                        </td>
                        <td><span class="bt-content">${item.count * item.price}<span th:text="#{text.grn}"></span></span></td>
                    </tr>`).join(''));
                        let summaEl = $('#resSumma');
                        if (summaEl.length) {
                            summaEl.text(data.reduce((sum, item) => sum + (item.price * item.count), 0));
                        }
                    } else {
                        let keyExist = await changeLanguage('text.table.exist', getCurrentLang());
                        containerOrders.append(`<tr>
                                    <td colspan="4" class="text-center">${keyExist}</td>
                                </tr>
                            `);
                        $('#resSumma').parent().parent().parent().remove();
                    }
                }
            }
        });
    }
</script>
</body>
</html>
