<html lang="uk"
      layout:decorate="~{web/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{text.account}"></title>
    <style>
        .pagination-icon {
            background: #334A2E;
            border: #334A2E;
        }

        .pagination-number {
            background-color: #5C9D4F;
            border: #5C9D4F;
            color: white;
        }

        .pagination-icon:hover {
            color: white;
            background-color: #41613c;
            border: #334A2E;
        }

        .page-item.active .page-link {
            color: white;
            background-color: #83e371;
            border: #5C9D4F;
        }

        .d-flex-full {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
<div layout:fragment="content">

    <section class="first-section no-bg" style="min-height: 0 !important;">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a th:href="@{/templates/web/main}" th:text="#{text.main}"></a>
                    </li>
                    <li th:text="#{text.personalAccount}"></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="accaunt">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h1 th:text="#{text.account}"></h1>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="accaunt__manager">
                                <ul>
                                    <li>
                                        <p th:text="#{text.cartPersonalManager}"></p>
                                    </li>
                                    <li><i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14
                                        12</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
<!--                            <span class="discount" th:text="#{text.personalDiscount}"></span>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <nav class="navigation">
                        <p th:text="#{text.myOrders}"></p>
                        <ul>
                            <li><a id="orders" class="headers" data-action="loadOrders"
                                   th:text="#{text.historyOrders}"></a></li>
                            <li><a id="transactions" class="headers" data-action="loadTransactions"
                                   th:text="#{text.historyTransactions}"></a></li>
                        </ul>
                        <p th:text="#{text.myAccount}"></p>
                        <ul>
                            <li><a id="contactInformation" class="headers" data-action="loadInfo"
                                   th:text="#{text.contactInformation}"></a></li>
                            <li><a id="password" class="headers" data-action="loadPassword"
                                   th:text="#{text.password}"></a></li>
                            <li><a id="address" class="headers" data-action="loadAddress"
                                   th:text="#{table.header.address}"></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-9" id="container-content"></div>
            </div>
            <div id="container-pagination"></div>
        </div>
    </section>
    <script th:src="@{/js/validator.js}"></script>
</div>
<script layout:fragment="script">
    let fieldElement;

    function loadOrders(element, page) {
        const params = new URLSearchParams();
        if (element) {
            let dir = element.attr('data-direction');
            let name = element.attr('data-name');
            params.append('sort', `${name},${dir}`)
        }

        params.append('page', page);
        params.append('languageCode', document.documentElement.lang);
        params.append('size', '3');

        $('#container-content').empty();
        $('#container-pagination').empty();
        htmx.ajax('GET', `${contextPath}web/orders/table/load?${params.toString()}`, {
            target: '#container-content',
            swap: 'innerHTML'
        });
        htmx.ajax('GET', `${contextPath}web/orders/pagination/load?${params.toString()}`, {
            target: '#container-pagination',
            swap: 'innerHTML'
        });
    }

    function loadTransactions(element, page) {
        const params = new URLSearchParams();
        if (element) {
            let dir = element.attr('data-direction');
            let name = element.attr('data-name');
            params.append('sort', `${name},${dir}`)
            console.log(`${name},${dir}`);
        }

        params.append('page', page);
        params.append('languageCode', document.documentElement.lang);
        params.append('size', '3');

        $('#container-content').empty();
        $('#container-pagination').empty();
        htmx.ajax('GET', `${contextPath}web/transactions/table/load?${params.toString()}`, {
            target: '#container-content',
            swap: 'innerHTML'
        });
        htmx.ajax('GET', `${contextPath}web/transactions/pagination/load?${params.toString()}`, {
            target: '#container-pagination',
            swap: 'innerHTML'
        });
    }

    function loadInfo() {
        $('#container-pagination').empty();
        htmx.ajax('GET', `${contextPath}web/info-user/load`, {
            target: '#container-content',
            swap: 'innerHTML'
        });
        addEventListenerImage();
    }

    function loadAddress() {
        $('#container-pagination').empty();
        htmx.ajax('GET', `${contextPath}web/address/load`, {
            target: '#container-content',
            swap: 'innerHTML'
        });
        $('#select-countries').off();
        $('#select-countries-ur').off();

        $('#container-content').on('change', '#select-countries', function () {
            invokeRequestRegionsByCountry($(this).val(), 'select-regions');
        });
        $('#container-content').on('change', '#select-regions', function () {
            invokeRequestCitiesByRegion($(this).val(), 'select-cities');
        });
    }

    function loadPassword() {
        $('#container-pagination').empty();
        htmx.ajax('GET', `${contextPath}web/password/load`, {
            target: '#container-content',
            swap: 'innerHTML'
        });
    }

    document.body.addEventListener('htmx:afterSwap', async function (event) {
        let targetId = event.detail.target.id;
        console.log(`HTMX оновив: ${targetId}`);

        if (targetId === 'container-content' || targetId === 'container-pagination') {
            let currentUrl = event.detail.xhr.responseURL;

            if (currentUrl.includes('/transactions/')) {
                addEventListenerForDirection(loadTransactions);
            } else if (currentUrl.includes('/orders/')) {
                addEventListenerForDirection(loadOrders);
            } else if (currentUrl.includes('/info-user/load')) {
                let isAuthorized = $('[data-isAuthorized]');
                let status = $('[data-status]');
                if (isAuthorized.length && status.length) {
                    getContactInformation();
                }
            } else if (currentUrl.includes('/address/load')) {
                let isAuthorized = $('[data-isAuthorized]');
                let status = $('[data-status]');
                if (isAuthorized.length && status.length) {
                    let data = await getAddress();
                    console.log(data);
                    let countries = await getCountriesAll();
                    if (status.attr('data-status') === 'individual') {
                        await fillSelectorsByContainer('fiz-selectors', 'fiz');
                        appendOptionsToSelect(countries, 'fiz-select-countries');
                        ['fiz'].forEach(prefix => handleChangeGeography(prefix));
                        $('#fiz-select-countries').val(data.idCountry);
                        await invokeRequestRegionsByCountry(data.idCountry, `fiz-select-regions`);
                        $('#fiz-select-regions').val(data.idRegion);
                        await invokeRequestCitiesByRegion(data.idRegion, `fiz-select-cities`);
                        $('#fiz-select-cities').val(data.idCity);
                        $('#address-fiz').val(data.address);
                    } else {
                        await fillSelectorsByContainer('ur1-selectors', 'ur1');
                        await fillSelectorsByContainer('ur2-selectors', 'ur2');
                        appendOptionsToSelect(countries, 'ur1-select-countries');
                        appendOptionsToSelect(countries, 'ur2-select-countries');
                        ['ur1', 'ur2'].forEach(prefix => handleChangeGeography(prefix));
                        $('#ur1-select-countries').val(data.idCountry);
                        $('#ur2-select-countries').val(data.idCountry);
                        await invokeRequestRegionsByCountry(data.idCountry, `ur1-select-regions`);
                        await invokeRequestRegionsByCountry(data.idCountry, `ur2-select-regions`);
                        $('#ur1-select-regions').val(data.idRegion);
                        $('#ur2-select-regions').val(data.idRegion);
                        await invokeRequestCitiesByRegion(data.idRegion, `ur1-select-cities`);
                        await invokeRequestCitiesByRegion(data.idRegion, `ur2-select-cities`);
                        $('#ur1-select-cities').val(data.idCity);
                        $('#ur2-select-cities').val(data.idCity);
                        $('#address-ur1').val(data.address);
                        $('#address-ur2').val(data.addressLegal);
                        $('#index').val(data.index);
                        $('#okpo').val(data.okpo);
                    }
                }
            }
        }
    });

    function addEventListenerForDirection(loadData) {
        let authorizedBlock = $('[data-isAuthorized]');
        if (authorizedBlock.length) {
            let isAuthorized = authorizedBlock.attr('data-isAuthorized');
            console.log(isAuthorized);
            if (isAuthorized === 'true') {
                $('#container-content').off('click', '.ti-arrow-down, .ti-arrow-up')
                    .on('click', '.ti-arrow-down, .ti-arrow-up', function () {
                        fieldElement = $(this);
                        let newDirection = fieldElement.attr('data-direction') === 'ASC' ? 'DESC' : 'ASC';
                        fieldElement.attr('data-direction', newDirection);
                        loadData(fieldElement, 0);
                    });

                $(document)
                    .off('click', '.pagination a').on('click', '.pagination a', function (event) {
                    let page = $(this).data('page');
                    let parentLi = this.closest('.page-item');
                    if (parentLi.classList.contains('active')) {
                        event.preventDefault();
                        return;
                    }
                    loadData(fieldElement, page);
                });
            }
        }
    }

    function addEventListenerImage() {
        $('#container-content').on('change', '#fileMy', function (event) {
            const file = event.target.files[0];
            if (!file) return;
            let $image = $('#image');
            if ($image) {
                $image.css('background-image', `url(${URL.createObjectURL(file)})`);
            }
            $('[data-name="pathToImage"]').val('');
        });
    }

    function addEventListenerHeaders() {
        $('.headers').on('click', function () {
            fieldElement = null;
            $('.headers').removeClass('active');
            $(this).addClass('active');
            let action = $(this).data('action');
            if (typeof window[action] === 'function') window[action]();
        });
    }

    $(document).ready(function () {
        addEventListenerHeaders();
        invokeRequestContactsData();
    });

    $(document).on('click', '.copy-btn', async function () {
        let row = $(this).closest('tr');
        let rowData = row.find('td').map(function () {
            return $(this).text().trim();
        }).get().join('\t');
        let keyCopy = await changeLanguage('text.copied', getCurrentLang());
        let keyCopyDesc = await changeLanguage('text.copyDesc', getCurrentLang());
        navigator.clipboard.writeText(rowData).then(() => {
            Swal.fire({
                icon: 'success',
                title: keyCopy,
                text: keyCopyDesc,
                timer: 2000,
                showConfirmButton: false
            });
        }).catch(err => console.error("Error copy:", err));
    });

    function invokeRequestContactsData() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `web/contacts/get`);
        request.send();
        request.addEventListener('load', function () {
            if (request.status === 200) {
                buildContacts(JSON.parse(request.response));
            }
        });
    }

    /* Contact information */
    async function getContactInformation() {
        const url = contextPath + `web/info-user/get`;
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const data = await response.json();
            for (let key in data) {
                let input = $(`input[data-name="${key}"]`);
                if (!input.length) continue;

                let value = data[key];
                if (input.hasClass('files')) {
                    let img = input.data('image');
                    let $input = $(`#${img}`);
                    if ($input.length && value) {
                        $input.css('background-image', `url('${value}')`);
                    }
                }
                input.val(value);
            }
        } catch (error) {
            console.error(error.message);
        }
    }

    async function saveUserFiz(formData) {
        const url = contextPath + `web/info-fiz/save`;
        try {
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });
            if (!response.ok) {
                let res = await response.json();
                throw new Error(JSON.stringify(res));
            }
            window.location.reload();
        } catch (error) {
            let data = JSON.parse(error.message);
            clearValid();
            validate4(data);
        }
    }

    async function saveUserUr(formData) {
        const url = contextPath + `web/info-ur/save`;
        try {
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });
            if (!response.ok) {
                let res = await response.json();
                throw new Error(JSON.stringify(res));
            }
            window.location.reload();
        } catch (error) {
            let data = JSON.parse(error.message);
            clearValid();
            validate4(data);
        }
    }

    $('#container-content').on('click', '#btn-save', function () {
        let isAuthorized = $('[data-isAuthorized]');
        let status = $('[data-status]');
        let assignment = $('[data-assignment]');
        if (isAuthorized.length) {
            if (!assignment.length) return;
            if (status.length) {
                if (assignment.attr('data-assignment') === 'info-user') {
                    console.log('info-user');
                    const formData = new FormData();
                    formData.append("fullName", $('[data-name="fullName"]').val());
                    formData.append("email", $('[data-name="email"]').val());
                    formData.append("phone", $('[data-name="phone"]').val());
                    formData.append("pathToImage", $('[data-name="pathToImage"]').val() || "");
                    let imageInput = document.getElementById('fileMy');
                    if (imageInput && imageInput.files.length > 0) {
                        formData.append("fileImage", imageInput.files[0]);
                    }
                    if (status.attr('data-status') === 'individual') {
                        saveUserFiz(formData);
                    } else if (status.attr('data-status') === 'legal') {
                        formData.append("company", $('[data-name="company"]').val());
                        saveUserUr(formData);
                    }
                } else if (assignment.attr('data-assignment') === 'address') {
                    console.log('address');
                    const formData = new FormData();
                    if (status.attr('data-status') === 'individual') {
                        formData.append("idCountry", Number($('#fiz-select-countries').val()));
                        formData.append("idRegion", Number($('#fiz-select-regions').val()));
                        formData.append("idCity", Number($('#fiz-select-cities').val()));
                        formData.append("address", $('#address-fiz').val());
                        saveAddressFiz(formData);
                    } else if (status.attr('data-status') === 'legal') {
                        formData.append("idCountry", Number($('#ur1-select-countries').val()));
                        formData.append("idRegion", Number($('#ur1-select-regions').val()));
                        formData.append("idCity", Number($('#ur1-select-cities').val()));
                        formData.append("idCountryLegal", Number($('#ur2-select-countries').val()));
                        formData.append("idRegionLegal", Number($('#ur2-select-regions').val()));
                        formData.append("idCityLegal", Number($('#ur2-select-cities').val()));
                        formData.append("address", $('#address-ur1').val());
                        formData.append("addressLegal", $('#address-ur2').val());
                        formData.append("index", $('#index').val());
                        formData.append("okpo", $('#okpo').val());
                        saveAddressUr(formData)
                    }
                }
            } else if (assignment.attr('data-assignment') === 'password') {
                console.log('password');
                const formData = new FormData();
                formData.append("currentPassword", $('[data-name="currentPassword"]').val());
                formData.append("newPassword", $('[data-name="newPassword"]').val());
                formData.append("confirmPassword", $('[data-name="confirmPassword"]').val());
                savePassword(formData);
            }
        }
    });

    /* Password Save*/

    async function savePassword(formData) {
        const url = contextPath + `web/account/password-new/save`;
        try {
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });
            if (!response.ok) {
                let res = await response.json();
                throw new Error(JSON.stringify(res));
            }
            window.location.reload();
        } catch (error) {
            let data = JSON.parse(error.message);
            console.log(data);
            clearValid();
            validate4(data);
        }
    }

    /* Address Save*/
    async function saveAddressFiz(formData) {
        const url = contextPath + `web/address-fiz/save`;
        try {
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });
            if (!response.ok) {
                let res = await response.json();
                throw new Error(JSON.stringify(res));
            }
            window.location.reload();
        } catch (error) {
            clearValid();
            validate4(JSON.parse(error.message));
        }
    }

    async function saveAddressUr(formData) {
        const url = contextPath + `web/address-ur/save`;
        try {
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });
            if (!response.ok) {
                let res = await response.json();
                throw new Error(JSON.stringify(res));
            }
            window.location.reload();
        } catch (error) {
            clearValid();
            validate4(JSON.parse(error.message));
        }
    }

    async function getAddress() {
        const url = contextPath + `web/address/get`;
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const data = await response.json();
            return data;
            // for (let key in data) {
            //     let input = $(`input[data-name="${key}"], select[data-name="${key}"]`);
            //     if (!input.length) continue;
            //
            //     let value = data[key];
            //
            //     if (input.is("select")) {
            //         input.val(value).change();
            //     } else {
            //         input.val(value);
            //     }
            // }

        } catch (error) {
            console.error(error.message);
        }
    }

</script>
</body>
</html>
