<div class="row" th:data-isAuthorized="${isAuthorized}" th:data-status="${status}">
    <div class="col-md-6">
        <form action="#">
            <div class="form__title" th:text="'1. '+#{text.contactInformation}"></div>
            <input id="okpo" type="text"  placeholder="ОКПО">
            <div class="form__title" th:text="'2. '+#{table.header.address}"></div>
            <div id="ur1-selectors"></div>
            <input id="address-ur1" type="text" th:placeholder="#{table.header.address}+'*'">
            <div class="form__title" th:text="'2. '+#{text.legalAddress}"></div>
            <div id="ur2-selectors"></div>
            <input id="address-ur2" type="text"  th:placeholder="#{table.header.address}">
            <input id="index" type="text"  th:placeholder="#{text.index}">
            <button id="btn-save" data-assignment="address" class="button"
                    type="button" th:text="#{text.button.save}"></button>
        </form>
    </div>
    <div class="col-md-6 align-self-end">
        <div class="address__img overlay" th:style="'background-image: url(' + @{/blacksea/img/28.jpg} + ')'">
            <div class="wrap">
                <h2 th:text="#{text.sidebar.header1} + ' ' + #{text.sidebar.header2}"></h2>
                <p>Единственный в Украине сад совместного выращивания фундука и грецкого ореха</p>
            </div>
        </div>
    </div>
</div>