<div class="row">
    <div class="col-lg-6">
        <form>
            <div class="form__title" th:text="#{table.header.address}"></div>
            <select id="select-countries" class="selectMy" style="position: relative;width: 100%;margin-bottom: 5px;">
                <option value="hide" disabled selected>Країна</option>
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
            <select id="select-regions" class="selectMy" style="position: relative;width: 100%;margin-bottom: 5px;" disabled>
                <option value="hide" selected th:text="#{text.region}"></option>
            </select>
            <select id="select-cities" class="selectMy" style="position: relative;width: 100%;margin-bottom: 5px;" disabled>
                <option value="hide" selected th:text="#{text.cities}"></option>
            </select>
            <input class="form-control" type="text" th:placeholder="#{table.header.address}+'*'">
            <button class="button" type="button" th:text="#{text.button.save}"></button>
        </form>
    </div>
    <div class="col-lg-6 align-self-end"></div>
</div>