<div class="row" th:data-isAuthorized="${isAuthorized}" th:data-status="${status}">
    <div class="col-lg-6">
        <form>
            <div class="form__title" th:text="#{table.header.address}"></div>
            <div id="fiz-selectors"></div>
            <input id="address-fiz" data-name="address" class="form-control" type="text" th:placeholder="#{table.header.address}+'*'">
            <button id="btn-save" data-assignment="address" class="button"
                    type="button" th:text="#{text.button.save}"></button>
        </form>
    </div>
    <div class="col-lg-6 align-self-end"></div>
</div>