<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
        <h1 class="text-center py-4" th:text="#{text.password}"></h1>
        <form>
            <input type="password" required="required" th:placeholder="#{text.currentPassword}+'*'">
            <input type="password" required="required" th:placeholder="#{text.newPassword}+'*'">
            <input type="password" required="required" th:placeholder="#{text.confirmPassword}+'*'">
            <button class="button" type="button" th:text="#{text.continue}"
            style="width: 100%;"></button>
        </form>
    </div>
</div>