<div class="row justify-content-center" th:data-isAuthorized="${isAuthorized}">
    <div class="col-lg-4 col-md-6">
        <h1 class="text-center py-4" th:text="#{text.password}"></h1>
        <form>
            <input data-error="currentPassword" data-name="currentPassword" type="password" required="required" th:placeholder="#{text.currentPassword}+'*'">
            <input data-error="newPassword" data-name="newPassword" type="password" required="required" th:placeholder="#{text.newPassword}+'*'">
            <input data-error="confirmPassword" data-name="confirmPassword" type="password" required="required" th:placeholder="#{text.confirmPassword}+'*'">
            <button id="btn-save" data-assignment="password" class="button" type="button" th:text="#{text.continue}"
            style="width: 100%;"></button>
        </form>
    </div>
</div>