<html lang="uk"
      layout:decorate="~{web/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{text.userAgreement}"></title>
</head>

<body>
<div layout:fragment="content">
    <section class="first-section no-bg" style="min-height: 0!important;">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a th:href="@{/web/main}" th:text="#{text.main}"></a>
                    </li>
                    <li th:text="#{text.passwordRecovery}"></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="password">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <h1 class="text-center" th:text="#{text.passwordRecovery}"></h1>
                    <div class="password__link">
                        <div class="wrap">
                            <i class="nut-icon icons-locked"></i>
                            <a href="#"><span th:text="#{text.forgetYourPassword}"></span></a>
                        </div>
                        <p th:text="#{text.passwordRecoveryInstruction}"></p>
                    </div>
                    <form action="#">
                        <input type="email" required="required" placeholder="Email*">
                        <button class="button" type="button" th:text="#{text.sendLink}"></button>
                    </form>
                    <div class="password__link">
                        <div class="wrap">
                            <i class="nut-icon icons-locked"></i>
                            <a href="#"><span th:text="#{text.passwordRecovery}"></span></a>
                        </div>
                        <p><span th:text="#{text.enterANewPasswordForEmail}"></span> <a href="#">example@gmail.com</a>
                        </p>
                    </div>
                    <form action="#">
                        <input type="password" required="required" th:placeholder="#{text.newPassword}+'*'">
                        <input type="password" required="required" th:placeholder="#{text.confirmPassword}+'*'">
                        <button class="button" type="submit"
                                th:text="#{text.button.change} + ' ' + #{text.password}"></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script layout:fragment="script">
    function invokeData() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `web/contacts/get`)
        request.send();
        request.addEventListener('load', function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                buildContacts(data);
            }
        });
    }

    $(document).ready(function () {
        invokeData();
    });
</script>
</body>
</html>
