<html lang="uk"
      layout:decorate="~{web/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Stripe</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" th:href="@{/css/stripe.css}">
</head>

<body>
<div layout:fragment="content">
    <h2>Pay with Stripe</h2>
    <form id="payment-form">
        <div class="card-box">
            <!--            <label for="card-element">Credit or Debit Card</label>-->
            <!--            <div id="card-element" class="card_input"></div>-->
            <label for="card-number-element">Card number:</label>
            <div id="card-number-element" class="card_input"></div>
            <label for="card-expiry-element">Date expired:</label>
            <div id="card-expiry-element" class="card_input"></div>
            <label for="card-cvc-element">CVC:</label>
            <div id="card-cvc-element" class="card_input"></div>
            <div id="card-result"></div>
            <button class="card-button" type="submit">Pay</button>
        </div>
    </form>

    <script>
        const stripe = Stripe('pk_test_51R2IQUJrY7tkTcm5zV1U55LmEieXSI31KXC4BBhRzGW5FAh9M94wzTodJJAlp5zp5f5dQRAwEC0U7C1Ntui2ouoZ00sT3SUeUE');
        // Use your Stripe Publishable Key
        const paymentForm = document.getElementById('payment-form');
        const elements = stripe.elements();

        const style = {
            base: {
                fontSize: '14px',
                color: "#32325d",
                fontFamily: 'Montserrat, sans-serif',
                "::placeholder": {
                    color: "#767699"
                }
            },
            invalid: {
                color: "#fa755a",
                iconColor: "#fa755a"
            }
        };

        const cardNumber = elements.create('cardNumber', {style});
        cardNumber.mount('#card-number-element');
        const cardExpiry = elements.create('cardExpiry', {style});
        cardExpiry.mount('#card-expiry-element');
        const cardCVC = elements.create('cardCvc', {style});
        cardCVC.mount('#card-cvc-element');

        paymentForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const submitBtn = paymentForm.querySelector('button');
            submitBtn.disabled = true;

            try{
                const response = await fetch('/create-payment-intent', {
                    method: 'POST',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({amount: 5000})
                });

                const {clientSecret2} = await response.json();
                const {clientSecret} = await response.json();

                console.log(clientSecret2)
                console.log(clientSecret)

                const {result} = await stripe.confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: cardNumber,
                        billing_details: {
                            name: document.getElementById('customer-name')?.value || 'Customer Name',
                        },
                    },
                });

                if (result.error) {
                    console.error("Payment failed", result.error);
                    alert("Помилка: " + result.error.message);
                    submitBtn.disabled = false;
                } else{
                    window.location.href = contextPath + '/thanks';
                }
            } catch (err){
                console.error("System error:", err);
                submitBtn.disabled = false;
            }
        });
    </script>
</div>
</body>
</html>
