<html lang="uk"
	  layout:decorate="~{web/blocks/layout.html}"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns="http://www.w3.org/1999/html">
<head>
	<title th:text="#{text.userAgreement}"></title>
</head>

<body>
<div layout:fragment="content">
	<section class="first-section no-bg" style="min-height: 0 !important;">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a th:href="@{/templates/web/main}" th:text="#{text.main}"></a>
					</li>
					<li>
						<a th:href="@{/web/registration}" th:text="#{text.registration}"></a>
					</li>
					<li th:text="#{text.userAgreement}"></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="term">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Угода користувача </h1>
					<p> Якщо Ви не погоджуєтесь з цими умовами, то не використовуйте цей сайт. Використання цього сайту, у тому числі заповнення різних форм, заявок, а також замовлення вами товарів/послуг з використанням даного сайту означає вашу згоду з умовами цієї Угоди.</p>
					<br>
					<p><b>Терміни, що вживаються в цій Угоді:</b></p>
					<p><b>Адміністрація</b> – адміністрація веб-сайту інтернет-магазину www.orekhi.ua.</p>
					<p><b>Сайт</b> – веб-сайт інтернет-магазину www.orekhi.ua, включаючи всі веб-сторінки.</p>
					<p><b>Угода</b> – це користувальницька угода.</p>
					<br>
					<p><b>Продавець</b> – юридична особа або фізична особа-підприємець, які розміщують на Сайті інформацію про товари/послуги, що реалізуються нею. Продавцем може бути як Адміністрація, так і будь-яка інша особа, якій Адміністрація Сайту надала дозвіл на розміщення відомостей про товар/послуги такої особи. Найменування Продавця вказується в документах на передачу Товару Одержувачу (акту прийому-передачі чи інших документах, що підтверджують факт передачі Товару Одержувачу).</p>
					<p><b>Товар</b> – товари, послуги, роботи, майнові права, інші матеріальні та нематеріальні об'єкти, інформація про які розміщена на Сайті.</p>
					<p><b>Користувач</b> – особа, яка переглядає інформацію на Сайті та/або замовляє та/або отримує Товари з використанням інструментів Сайту. Одержувач та Платник є Користувачами.</p>
					<p><b>Замовлення</b> – звернення Користувача через Сайт до Продавця з проханням продати Товар, а також сукупність Товарів, замовлених Користувачем.</p>
					<p><b>Платник</b> – особа, яка оплачує Замовлення.</p>
					<p><b>Отримувач</b> – особа, зазначена Платником як особа, уповноважена отримати Товар згідно із Замовленням. Якщо інше не зазначено у формі Замовлення, Одержувачем є Платник.</p>
					<p><b>Верифікація</b> – це перевірка персональних даних Клієнта, при якій запит маршрутизується за допомогою Сайту. При введенні правильного Логіну та Паролю Користувачем та підтвердженням Одноразовим паролем Сайту, Сайт дозволяє вхід до Особистого кабінету користувача на Сайті.</p>
					<p><b>Особистий кабінет</b> – Реєстрація Користувача здійснюється шляхом заповнення реєстраційної форми, після чого він отримує доступ до "Особистого кабінету". У разі реєстрації за допомогою профілю в соціальних мережах деякі Особисті дані можуть бути автоматично вказані у вашому профілі, але їхню повноту та достовірність перед оформленням замовлень необхідно перевірити. Користувач зобов'язується не використовувати "Особистий кабінет" для вчинення протизаконних дій, а також дій, що порушують права чи інтереси третіх осіб. У разі порушення цього правила Користувач зобов'язується відшкодувати Сайту всі витрати, понесені у зв'язку з такими діями.</p>
					<p><b>Пропозиція</b> – інформація, розміщена на Сайті про конкретний Товар, який може бути придбаний споживачем. Пропозиція включає: інформацію про сам товар, інформацію про його ціну, способи оплати та доставки, а також інші умови придбання Товару споживачем. Умови пропозиції визначаються продавцем. Пропозиція не є офертою, а лише інформацією щодо можливих умов придбання Товару. </p>
					<br>
					<p><b>1.Загальні умови використання Сайту.</b></p>
					<p>1.2. Ця Угода є публічною офертою. Отримуючи доступ до матеріалів Сайту, Користувач вважається таким, що приєднався до цієї Угоди.</p>
					<p>1.3. Адміністрація Сайту має право в будь-який час в односторонньому порядку змінювати умови цієї Угоди. Такі зміни набирають чинності з моменту розміщення нової версії Угоди на сайті. </p>
					<p>1.4. Пропозиція на Сайті не є офертою. Однак, Користувач після ознайомлення з Пропозицією має право зробити оферту Продавцю (Продавцям) шляхом заповнення форми Замовлення. Заповнення форми Замовлення вважається офертою Користувача Продавцю (Продавцям) для придбання Користувачем відповідного Товару на умовах, зазначених у Пропозиції.</p>
					<p>1.5. Користувач розуміє, що його оферта перенаправляється Адміністрацією Продавцю, обраному Адміністрацією. Це положення не означає, що Адміністрація діє як агент Продавця та/або бере на себе будь-яку відповідальність за виконання Замовлення Продавцем.</p>
					<p>1.6. Оферта вважається прийнятою Продавцем, якщо останній здійснив дії, що свідчать про прийняття оферти Користувача, а саме: фактично відвантажив товар, розпочав надання послуг або виконання робіт відповідно до умов, передбачених офертою Користувача.</p>

                    <p>1.7. Після отримання оферти Користувача Продавець має право запропонувати придбати Товар на інших умовах, ніж передбачено офертою Користувача. У цьому випадку така пропозиція вважається зустрічною офертою і має бути прийнята Користувачем. Прийняттям зустрічної оферти вважається фактичне отримання Користувачем (Одержувачем) Товару за умов, обумовлених зустрічною офертою. Продавець має право відкликати таку зустрічну оферту до моменту видачі товару Покупцю.</p>
                    <p>1.8. Достатнім доказом прийняття оферти Продавцем або зустрічної оферти (тобто погодження Сторонами всіх істотних умов продажу Товару) є фактичне отримання та прийняття Товару Одержувачем.</p>
                    <p>1.9. Не вважається прийняттям Продавцем Оферти Користувача направлення Продавцем та/або Адміністрацією засобами електротехнічної (sms-інформування, електронна пошта, телефон тощо) або іншого зв'язку повідомлення Продавця/ Адміністрації про отримання Замовлення Користувача та/або про строки його отримання та/або про ціну Товару. Дане повідомлення є виключно повідомленням про отримання Продавцем оферти Користувача (але не про її прийняття) та містить відтворення умов оферти, наданої Користувачем.</p>
                    <p>1.10. Єдиним засобом відшкодування, яке надається Користувачеві у разі невідповідності фактичних умов продажу оферти, є надання Користувачеві (Одержувачу) права відмовитися від отримання та прийняття відповідного Товару та вимагати повернення сплаченої за нього вартості, а також вартості доставки Товару до пункту видачі (якщо дані суми фактично були). Отримувач має право скористатися цим правом до моменту підписання документів, що підтверджують отримання Товару (в т.ч. документів перевізника про доставку відправлення з Товаром Одержувачу).</p>
                    <p>1.11. Моментом отримання та прийняття Товару Одержувачем є момент (залежно від того, який настав раніше):</p>
                    <p>– підписання Одержувачем акта прийому-передачі Товару (або іншого рівнозначного за змістом документа, що підтверджує факт передачі Товару Одержувачу), або</p>
                    <p>– підписання Одержувачем документів перевізника, які підтверджують факт отримання відправлення, що містив Товар, або</p>
                    <p>– фактичне отримання Одержувачем Товару та вчинення Одержувачем дій, що свідчать про прийняття Товару (Одержувач отримав Товар та залишив пункт видачі товару тощо).</p>
                    <p>1.12. Інформація про товар.</p>
                    <p>1.12.1. Інформація в Товарі міститься на самому Товарі, його упаковці, товаросупровідних документах на Товар. Інформація про товар також може надаватися дистанційно (по телефону шляхом розміщення інформації про товар на сайті). Користувач підтверджує свою згоду на отримання інформації про товар за допомогою засобів дистанційного зв'язку +380 44 353 13 17.</p>
                    <p>1.12.2. При отриманні Товару до моменту підписання документів, що підтверджують отримання Товару, Отримувач зобов'язаний ознайомитися з інформацією про Товар, що міститься на Товарі та/або упаковці та/або у товаросупровідних документах. У разі потреби отримання додаткової інформації про Товар Отримувач зобов'язаний зв'язатися з Продавцем та отримати необхідну інформацію засобами дистанційного зв'язку до моменту прийняття Одержувачем Товару.</p>
                    <p>1.12.3. Ціна на Товар, вказана в Пропозиції, є орієнтовною. Ціна на Товар, погоджена Сторонами відповідно до п. 1.4.-1.8. Угода може бути змінена Продавцем до моменту видачі Товару Одержувачу.</p>
                    <p>1.12.4. У разі зміни ціни Товару порівняно з узгодженими Сторонами згідно з п. 1.4. - 1.7. Угоди умовами Одержувач має право відмовитися від отримання та ухвалення Товару. При цьому Отримувач (Платник) має право вимагати повернення сплачених за Товар сум, а також сум, сплачених за доставку Товару Одержувачу. Будь-які інші компенсації (в т.ч. відшкодування збитків, неустойка та інше) – Продавцем або Адміністрацією не надаються.</p>
                    <p>1.13. Обмеження відповідальності.</p>
                    <p>1.13.1. Сайт є платформою для розміщення пропозицій продавцями. У зв'язку з цим, Адміністрація (крім випадків, коли Адміністрація є Продавцем) не несе жодної відповідальності перед Користувачами (Платниками, Одержувачами) за виконання Замовлення Продавцями та пов'язані з цим питання, у тому числі, але не виключно:</p>
                    <p>– за відповідність умов Пропозиції щодо фактичних умов продажу Товарів, за відсутність Товару,</p>
                    <p>– за прострочення доставки Товару,</p>
                    <p>– за якість Товару,</p>

                    <p>1.7. Після отримання оферти Користувача Продавець має право запропонувати придбати Товар на інших умовах, ніж передбачено офертою Користувача. У цьому випадку така пропозиція вважається зустрічною офертою і має бути прийнята Користувачем. Прийняттям зустрічної оферти вважається фактичне отримання Користувачем (Одержувачем) Товару за умов, обумовлених зустрічною офертою. Продавець має право відкликати таку зустрічну оферту до моменту видачі товару Покупцю.</p>
                    <p>1.8. Достатнім доказом прийняття оферти Продавцем або зустрічної оферти (тобто погодження Сторонами всіх істотних умов продажу Товару) є фактичне отримання та прийняття Товару Одержувачем.</p>
                    <p>1.9. Не вважається прийняттям Продавцем Оферти Користувача направлення Продавцем та/або Адміністрацією засобами електротехнічної (sms-інформування, електронна пошта, телефон тощо) або іншого зв'язку повідомлення Продавця/ Адміністрації про отримання Замовлення Користувача та/або про строки його отримання та/або про ціну Товару. Дане повідомлення є виключно повідомленням про отримання Продавцем оферти Користувача (але не про її прийняття) та містить відтворення умов оферти, наданої Користувачем.</p>
                    <p>1.10. Єдиним засобом відшкодування, яке надається Користувачеві у разі невідповідності фактичних умов продажу оферти, є надання Користувачеві (Одержувачу) права відмовитися від отримання та прийняття відповідного Товару та вимагати повернення сплаченої за нього вартості, а також вартості доставки Товару до пункту видачі (якщо дані суми фактично були). Отримувач має право скористатися цим правом до моменту підписання документів, що підтверджують отримання Товару (в т.ч. документів перевізника про доставку відправлення з Товаром Одержувачу).</p>
                    <p>1.11. Моментом отримання та прийняття Товару Одержувачем є момент (залежно від того, який настав раніше):</p>
                    <p>– підписання Одержувачем акта прийому-передачі Товару (або іншого рівнозначного за змістом документа, що підтверджує факт передачі Товару Одержувачу), або</p>
                    <p>– підписання Одержувачем документів перевізника, які підтверджують факт отримання відправлення, що містив Товар, або</p>
                    <p>– фактичне отримання Одержувачем Товару та вчинення Одержувачем дій, що свідчать про прийняття Товару (Одержувач отримав Товар та залишив пункт видачі товару тощо).</p>
                    <p>1.12. Інформація про товар.</p>
                    <p>1.12.1. Інформація в Товарі міститься на самому Товарі, його упаковці, товаросупровідних документах на Товар. Інформація про товар також може надаватися дистанційно (по телефону шляхом розміщення інформації про товар на сайті). Користувач підтверджує свою згоду на отримання інформації про товар за допомогою засобів дистанційного зв'язку +380 44 353 13 17.</p>
                    <p>1.12.2. При отриманні Товару до моменту підписання документів, що підтверджують отримання Товару, Отримувач зобов'язаний ознайомитися з інформацією про Товар, що міститься на Товарі та/або упаковці та/або у товаросупровідних документах. У разі потреби отримання додаткової інформації про Товар Отримувач зобов'язаний зв'язатися з Продавцем та отримати необхідну інформацію засобами дистанційного зв'язку до моменту прийняття Одержувачем Товару.</p>
                    <p>1.12.3. Ціна на Товар, вказана в Пропозиції, є орієнтовною. Ціна на Товар, погоджена Сторонами відповідно до п. 1.4.-1.8. Угода може бути змінена Продавцем до моменту видачі Товару Одержувачу.</p>
                    <p>1.12.4. У разі зміни ціни Товару порівняно з узгодженими Сторонами згідно з п. 1.4. - 1.7. Угоди умовами Одержувач має право відмовитися від отримання та ухвалення Товару. При цьому Отримувач (Платник) має право вимагати повернення сплачених за Товар сум, а також сум, сплачених за доставку Товару Одержувачу. Будь-які інші компенсації (в т.ч. відшкодування збитків, неустойка та інше) – Продавцем або Адміністрацією не надаються.</p>
                    <p>1.13. Обмеження відповідальності.</p>
                    <p>1.13.1. Сайт є платформою для розміщення пропозицій продавцями. У зв'язку з цим, Адміністрація (крім випадків, коли Адміністрація є Продавцем) не несе жодної відповідальності перед Користувачами (Платниками, Одержувачами) за виконання Замовлення Продавцями та пов'язані з цим питання, у тому числі, але не виключно:</p>
                    <p>– за відповідність умов Пропозиції щодо фактичних умов продажу Товарів, за відсутність Товару,</p>
                    <p>– за прострочення доставки Товару,</p>
                    <p>– за якість Товару,</p>

                    <p>1.7. Після отримання оферти Користувача Продавець має право запропонувати придбати Товар на інших умовах, ніж передбачено офертою Користувача. У цьому випадку така пропозиція вважається зустрічною офертою і має бути прийнята Користувачем. Прийняттям зустрічної оферти вважається фактичне отримання Користувачем (Одержувачем) Товару за умов, обумовлених зустрічною офертою. Продавець має право відкликати таку зустрічну оферту до моменту видачі товару Покупцю.</p>
                    <p>1.8. Достатнім доказом прийняття оферти Продавцем або зустрічної оферти (тобто погодження Сторонами всіх істотних умов продажу Товару) є фактичне отримання та прийняття Товару Одержувачем.</p>
                    <p>1.9. Не вважається прийняттям Продавцем Оферти Користувача направлення Продавцем та/або Адміністрацією засобами електротехнічної (sms-інформування, електронна пошта, телефон тощо) або іншого зв'язку повідомлення Продавця/ Адміністрації про отримання Замовлення Користувача та/або про строки його отримання та/або про ціну Товару. Дане повідомлення є виключно повідомленням про отримання Продавцем оферти Користувача (але не про її прийняття) та містить відтворення умов оферти, наданої Користувачем.</p>
                    <p>1.10. Єдиним засобом відшкодування, яке надається Користувачеві у разі невідповідності фактичних умов продажу оферти, є надання Користувачеві (Одержувачу) права відмовитися від отримання та прийняття відповідного Товару та вимагати повернення сплаченої за нього вартості, а також вартості доставки Товару до пункту видачі (якщо дані суми фактично були). Отримувач має право скористатися цим правом до моменту підписання документів, що підтверджують отримання Товару (в т.ч. документів перевізника про доставку відправлення з Товаром Одержувачу).</p>
                    <p>1.11. Моментом отримання та прийняття Товару Одержувачем є момент (залежно від того, який настав раніше):</p>
                    <p>– підписання Одержувачем акта прийому-передачі Товару (або іншого рівнозначного за змістом документа, що підтверджує факт передачі Товару Одержувачу), або</p>
                    <p>– підписання Одержувачем документів перевізника, які підтверджують факт отримання відправлення, що містив Товар, або</p>
                    <p>– фактичне отримання Одержувачем Товару та вчинення Одержувачем дій, що свідчать про прийняття Товару (Одержувач отримав Товар та залишив пункт видачі товару тощо).</p>
                    <p>1.12. Інформація про товар.</p>
                    <p>1.12.1. Інформація в Товарі міститься на самому Товарі, його упаковці, товаросупровідних документах на Товар. Інформація про товар також може надаватися дистанційно (по телефону шляхом розміщення інформації про товар на сайті). Користувач підтверджує свою згоду на отримання інформації про товар за допомогою засобів дистанційного зв'язку +380 44 353 13 17.</p>
                    <p>1.12.2. При отриманні Товару до моменту підписання документів, що підтверджують отримання Товару, Отримувач зобов'язаний ознайомитися з інформацією про Товар, що міститься на Товарі та/або упаковці та/або у товаросупровідних документах. У разі потреби отримання додаткової інформації про Товар Отримувач зобов'язаний зв'язатися з Продавцем та отримати необхідну інформацію засобами дистанційного зв'язку до моменту прийняття Одержувачем Товару.</p>
                    <p>1.12.3. Ціна на Товар, вказана в Пропозиції, є орієнтовною. Ціна на Товар, погоджена Сторонами відповідно до п. 1.4.-1.8. Угода може бути змінена Продавцем до моменту видачі Товару Одержувачу.</p>
                    <p>1.12.4. У разі зміни ціни Товару порівняно з узгодженими Сторонами згідно з п. 1.4. - 1.7. Угоди умовами Одержувач має право відмовитися від отримання та ухвалення Товару. При цьому Отримувач (Платник) має право вимагати повернення сплачених за Товар сум, а також сум, сплачених за доставку Товару Одержувачу. Будь-які інші компенсації (в т.ч. відшкодування збитків, неустойка та інше) – Продавцем або Адміністрацією не надаються.</p>
                    <p>1.13. Обмеження відповідальності.</p>
                    <p>1.13.1. Сайт є платформою для розміщення пропозицій продавцями. У зв'язку з цим, Адміністрація (крім випадків, коли Адміністрація є Продавцем) не несе жодної відповідальності перед Користувачами (Платниками, Одержувачами) за виконання Замовлення Продавцями та пов'язані з цим питання, у тому числі, але не виключно:</p>
                    <p>– за відповідність умов Пропозиції щодо фактичних умов продажу Товарів, за відсутність Товару,</p>
                    <p>– за прострочення доставки Товару,</p>
                    <p>– за якість Товару,</p>
                </div>
			</div>
		</div>
	</section>
</div>

<script layout:fragment="script">
    function invokeData() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `web/contacts/get`)
        request.send();
        request.addEventListener('load', function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                buildContacts(data);
            }
        });
    }
    $(document).ready(function (){
        invokeData();
    });
</script>
</body>
</html>