<html lang="uk"
	  layout:decorate="~{web/blocks/layout.html}"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns="http://www.w3.org/1999/html">
<head>
	<title th:text="#{text.userAgreement}"></title>
</head>

<body>
<div layout:fragment="content">
	<section class="first-section no-bg" style="min-height: 0 !important;">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a th:href="@{/templates/web/main}" th:text="#{text.main}"></a>
					</li>
					<li>
						<a th:href="@{/web/registration}" th:text="#{text.registration}"></a>
					</li>
					<li th:text="#{text.userAgreement}"></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="term">
		<div class="container">
			<div class="row">
                <div class="col-12">
                    <h1 th:text="#{agreement.title}">Угода користувача</h1>
                    <p th:text="#{agreement.intro}">Текст вступу</p>
                    <br>
                    <p><b th:text="#{agreement.terms.title}">Терміни...</b></p>

                    <p>
                        <b th:text="#{agreement.term.administration}">Адміністрація</b>
                        <span th:text="#{agreement.term.administration.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.site}">Сайт</b>
                        <span th:text="#{agreement.term.site.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.agreement}">Угода</b>
                        <span th:text="#{agreement.term.agreement.text}">– текст</span>
                    </p>
                    <br>
                    <p>
                        <b th:text="#{agreement.term.seller}">Продавець</b>
                        <span th:text="#{agreement.term.seller.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.item}">Товар</b>
                        <span th:text="#{agreement.term.item.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.user}">Користувач</b>
                        <span th:text="#{agreement.term.user.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.order}">Замовлення</b>
                        <span th:text="#{agreement.term.order.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.payer}">Платник</b>
                        <span th:text="#{agreement.term.payer.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.recipient}">Отримувач</b>
                        <span th:text="#{agreement.term.recipient.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.verification}">Верифікація</b>
                        <span th:text="#{agreement.term.verification.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.account}">Особистий кабінет</b>
                        <span th:text="#{agreement.term.account.text}">– текст</span>
                    </p>
                    <p>
                        <b th:text="#{agreement.term.offer.info}">Пропозиція</b>
                        <span th:text="#{agreement.term.offer.info.text}">– текст</span>
                    </p>
                    <br>

                    <p><b th:text="#{agreement.section1.title}">1. Загальні умови...</b></p>
                    <p th:text="#{agreement.section1.p2}">1.2...</p>
                    <p th:text="#{agreement.section1.p3}">1.3...</p>
                    <p th:text="#{agreement.section1.p4}">1.4...</p>
                    <p th:text="#{agreement.section1.p5}">1.5...</p>
                    <p th:text="#{agreement.section1.p6}">1.6...</p>
                    <p th:text="#{agreement.section1.p7}">1.7...</p>
                    <p th:text="#{agreement.section1.p8}">1.8...</p>
                    <p th:text="#{agreement.section1.p9}">1.9...</p>
                    <p th:text="#{agreement.section1.p10}">1.10...</p>

                    <p th:text="#{agreement.section1.p11}">1.11...</p>
                    <p th:text="#{agreement.section1.p11.list1}">– список1</p>
                    <p th:text="#{agreement.section1.p11.list2}">– список2</p>
                    <p th:text="#{agreement.section1.p11.list3}">– список3</p>

                    <p><b th:text="#{agreement.section1.p12}">1.12. Інформація...</b></p>
                    <p th:text="#{agreement.section1.p12.1}">1.12.1...</p>
                    <p th:text="#{agreement.section1.p12.2}">1.12.2...</p>
                    <p th:text="#{agreement.section1.p12.3}">1.12.3...</p>
                    <p th:text="#{agreement.section1.p12.4}">1.12.4...</p>

                    <p><b th:text="#{agreement.section1.p13}">1.13. Обмеження...</b></p>
                    <p th:text="#{agreement.section1.p13.1}">1.13.1...</p>
                    <p th:text="#{agreement.section1.p13.list1}">– список1</p>
                    <p th:text="#{agreement.section1.p13.list2}">– список2</p>
                    <p th:text="#{agreement.section1.p13.list3}">– список3</p>
                </div>
			</div>
		</div>
	</section>
</div>

<script layout:fragment="script">
    function invokeData() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `/web/contacts/get`)
        request.send();
        request.addEventListener('load', function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                buildContacts(data);
            }
        });
    }
    $(document).ready(function (){
        invokeData();
    });
</script>
</body>
</html>