spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: roomich20031@gmail.com
    password: diqj docq ucsf yzcd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true