<html lang="uk"
      layout:decorate="~{web/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{text.registration}"></title>
    <script th:src="@{/js/validator.js}"></script>
    <style>
        .selectMy {
            background-color: #fff;
            width: 100%;
            margin-bottom: 15px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            height: 47px;
            padding: 14px 16px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.01em;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <section class="first-section no-bg" style="min-height: 0 !important;">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a th:href="@{/templates/web/main}" th:text="#{text.main}"></a>
                    </li>
                    <li th:text="#{text.registration}"></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="registration">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 th:text="#{text.registration}"></h1>
                </div>
                <div class="col-12">
                    <div class="form__title" th:text="'1. '+#{text.contactInformation}"></div>
                </div>
                <div class="tabs">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="tabs__wrap">
                                <ul class="tabs__caption">
                                    <li class="tabsMy active" th:text="#{value.registration-type.individual}"></li>
                                    <li class="tabsMy" th:text="#{value.registration-type.legal}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6"></div>
                    </div>
                    <div class="tabs__content active">
                        <form>
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <input id="fiz-fio" type="text" required="required" data-error="fullName"
                                           th:placeholder="#{table.header.fio}+'*'">
                                    <input id="fiz-email" type="email" required="required" data-error="email"
                                           th:placeholder="#{table.header.email}+'*'">
                                    <input id="fiz-phone" type="tel" required="required" data-error="phone"
                                           th:placeholder="#{table.header.phone}+'*'">
                                    <div class="form__title" th:text="'2. '+#{table.header.address}"></div>
                                    <div id="fiz-selectors"></div>
                                    <input id="fiz-address" style="display: none;" type="text"
                                           th:placeholder="#{table.header.address}">
                                    <div class="form__title" th:text="'3. '+#{text.password}"></div>
                                    <input id="fiz-password" type="password" required="required" data-error="password"
                                           th:placeholder="#{text.password}+'*'">
                                    <input id="fiz-confirm-password" type="password" required="required"
                                           data-error="passwordConfirm"
                                           th:placeholder="#{text.confirmPassword}+'*'">
                                </div>
                                <div class="col-lg-5 col-md-6 offset-lg-1">
                                    <div class="wrapper">
                                        <div class="file__wrap">
                                            <input type="file" id="fileMy1" class="inputfile"/>
                                            <label for="fileMy1"><span th:text="#{text.loadImage}"></span></label>
                                        </div>
                                        <div class="checkbox__wrap">
                                            <input id="fiz-isFop" class="checkbox-custom" name="checkbox-1"
                                                   type="checkbox">
                                            <label for="fiz-isFop"
                                                   class="checkbox-custom-label"><span th:text="#{text.iAmFop}"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6">
                                    <div class="checkbox__wrap">
                                        <input id="fiz-terms" class="checkbox-custom" name="checkbox-1"
                                               type="checkbox">
                                        <label for="fiz-terms" class="checkbox-custom-label">
                                            <span th:text="#{text.iAgreeWith}"></span>
                                            <a th:href="@{/terms-of-use}"
                                               th:text="#{text.agreeRegTermsDesc}"></a></label>
                                    </div>
                                    <button class="btn btn-success" type="button" th:text="#{text.continue}"
                                            id="save-fiz" disabled></button>
                                </div>
                                <div class="col-lg-7 col-md-6"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tabs__content">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <input id="ur-fio" type="text" required="required" data-error="fullName"
                                           th:placeholder="#{table.header.fio}+'*'">
                                    <input id="ur-email" type="email" required="required" data-error="email"
                                           th:placeholder="#{table.header.email}+'*'">
                                    <input id="ur-phone" type="tel" required="required" data-error="phone"
                                           th:placeholder="#{table.header.phone}+'*'">
                                    <div class="form__title" th:text="'2. ' + #{table.header.address}"></div>
                                    <div id="ur-selectors"></div>
                                    <input id="ur-address" type="text" th:placeholder="#{table.header.address}">
                                    <div class="form__title" th:text="'3. '+#{text.password}"></div>
                                    <input id="ur-password" type="password" required="required" data-error="password"
                                           th:placeholder="#{text.password}+'*'">
                                    <input id="ur-confirm-password" type="password" required="required"
                                           data-error="passwordConfirm"
                                           th:placeholder="#{text.confirmPassword}+'*'">
                                </div>
                                <div class="col-lg-5 col-md-6 offset-lg-1">
                                    <div class="wrapper">
                                        <div class="file__wrap">
                                            <input type="file" id="fileMy2" class="inputfile"/>
                                            <label for="fileMy2"><span th:text="#{text.loadImage}"></span></label>
                                        </div>
                                        <div class="radio__wrap">
                                            <input id="radio-1" class="radio-custom" name="radio-group" value="ur"
                                                   type="radio" checked>
                                            <label for="radio-1"
                                                   class="radio-custom-label"><span
                                                    th:text="#{value.registration-type.legal}"></span></label>
                                            <input id="radio-2" class="radio-custom" name="radio-group" value="fop"
                                                   type="radio">
                                            <label for="radio-2" class="radio-custom-label"><span
                                                    th:text="#{value.registration-type.fop}"></span></label>
                                        </div>
                                        <div class="box-wrap">
                                            <div class="ur box">
                                                <div class="form__title" th:text="'1. '+#{text.props}"></div>
                                                <input id="okpo" type="text" th:placeholder="#{text.okpo}">
                                                <div class="form__title"
                                                     th:text="'2. '+#{text.legalAddress}"></div>
                                                <div id="ur2-selectors"></div>
                                                <input id="addressLegal" type="text"
                                                       th:placeholder="#{table.header.address}+'*'">
                                                <input id="index" type="text" th:placeholder="#{text.index}+'*'">
                                            </div>
                                            <div class="fop box">
                                                <div class="form__title" th:text="'1. '+#{text.props}"></div>
                                                <input id="erdpou" type="text" th:placeholder="#{text.erdpou}">
                                                <div class="form__title"
                                                     th:text="'2. '+#{table.header.address} + ' '+ #{value.registration-type.fop}"></div>
                                                <div id="ur3-selectors"></div>
                                                <input id="addressLegal2" type="text"
                                                       th:placeholder="#{table.header.address}+'*'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6">
                                    <div class="checkbox__wrap">
                                        <input id="ur-terms" class="checkbox-custom" name="checkbox-1"
                                               type="checkbox">
                                        <label for="ur-terms" class="checkbox-custom-label">
                                            <span th:text="#{text.iAgreeWith}"></span>
                                            <a th:href="@{/terms-of-use}"
                                               th:text="#{text.agreeRegTermsDesc}"></a></label>
                                    </div>
                                    <button id="save-ur" class="btn btn-success" type="button"
                                            th:text="#{text.continue}" disabled></button>
                                </div>
                                <div class="col-lg-7 col-md-6"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script">
    function invokeData() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `/registration/data`)
        request.send();
        request.addEventListener('load', async function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                // console.log(data);
                buildContacts(data.contacts);
                await fillSelectorsByContainer('fiz-selectors', 'fiz');
                await fillSelectorsByContainer('ur-selectors', 'ur');
                await fillSelectorsByContainer('ur2-selectors', 'ur2');
                await fillSelectorsByContainer('ur3-selectors', 'ur3');

                appendOptionsToSelect(data.countries, 'fiz-select-countries');
                appendOptionsToSelect(data.countries, 'ur-select-countries');
                appendOptionsToSelect(data.countries, 'ur2-select-countries');
                appendOptionsToSelect(data.countries, 'ur3-select-countries');
            }
        });
    }

    $(document).ready(function () {
        invokeData();
        addEventListenerImage();
        $('#save-fiz').on('click', function () {
            saveFiz(getFormDataFiz());
        });
        $('#save-ur').on('click', function () {
            saveFiz(getFormDataUr());
        });
        $('#fiz-isFop').on('change', function () {
            $('#fiz-address').toggle($(this).prop('checked'));
        });
        $('#fiz-terms').on('click', function () {
            $('#save-fiz').prop('disabled', !$(this).prop('checked'));
        });
        $('#ur-terms').on('click', function () {
            $('#save-ur').prop('disabled', !$(this).prop('checked'));
        });
        $('.tabsMy').on('click', function () {
            if (!$(this).hasClass('active')) {
                clearValid();
            }
        });
    });

    function addEventListenerImage() {
        $('.inputfile').on('change', function (event) {
            const file = event.target.files[0];
            if (!file) return;
            $('.inputfile').each(function () {
                let label = $(this).next('label');
                console.log(label);
                label.css('background-image', `url(${URL.createObjectURL(file)})`);
            })
        });
    }

    function saveFiz(formData) {
        $.ajax({
            type: "post",
            url: `${contextPath}/user-fiz/save`,
            data: formData,
            processData: false,
            contentType: false,
            enctype: "multipart/form-data",
            success: function () {
                sessionStorage.setItem("registrationSuccess","1");
                window.location.replace(contextPath + '/login');
            },
            error: function (error) {
                clearValid();
                let data = JSON.parse(error.responseText);
                validate2(data);
                console.log("Error submitting form:", error);
            }
        });
    }

    function getFormDataFiz() {
        const resForm = new FormData();
        const commonFields = [
            {name: "fullName", selector: '#fiz-fio'},
            {name: "phone", selector: '#fiz-phone'},
            {name: "email", selector: '#fiz-email'},
            {name: "countryForDeliveryId", selector: '#fiz-select-countries'},
            {name: "regionForDeliveryId", selector: '#fiz-select-regions'},
            {name: "cityForDeliveryId", selector: '#fiz-select-cities'},
            {name: "password", selector: '#fiz-password'},
            {name: "passwordConfirm", selector: '#fiz-confirm-password'},
        ];
        commonFields.forEach(field => {
            resForm.append(field.name, $(field.selector).val() || '');
        });

        let isFop = $("#fiz-isFop").prop("checked");
        resForm.append("registrationType", isFop ? "fop" : "individual");
        resForm.append("isFop", isFop);

        if (isFop) {
            let address = $("#fiz-address").val();
            if (address) resForm.append("address", address);
        }

        let file = $("#fileMy1")[0].files[0];
        if (file) resForm.append("fileImage", file);
        return resForm;
    }

    function getFormDataUr() {
        const resForm = new FormData();
        const commonFields = [
            {name: "fullName", selector: '#ur-fio'},
            {name: "phone", selector: '#ur-phone'},
            {name: "email", selector: '#ur-email'},
            {name: "countryForDeliveryId", selector: '#ur-select-countries'},
            {name: "regionForDeliveryId", selector: '#ur-select-regions'},
            {name: "cityForDeliveryId", selector: '#ur-select-cities'},
            {name: "password", selector: '#ur-password'},
            {name: "passwordConfirm", selector: '#ur-confirm-password'},
            {name: "address", selector: '#ur-address'},
        ];

        commonFields.forEach(field => {
            resForm.append(field.name, $(field.selector).val() || '');
        });

        let radio = $('input[name="radio-group"]:checked').val();
        if (radio === 'ur') {
            resForm.append("registrationType", 'legal');
        } else if (radio === 'fop') {
            resForm.append("registrationType", 'fop');
        }
        resForm.append("isFop", radio === 'fop');

        if (radio === 'ur') {
            resForm.append("paymentDetails", $('#okpo').val());
            resForm.append("addressLegal", $('#addressLegal').val());
            resForm.append("index", $('#index').val());
            addLegalFields('ur2');
        } else if (radio === 'fop') {
            resForm.append("paymentDetails", $('#erdpou').val());
            resForm.append("addressLegal", $('#addressLegal2').val());
            addLegalFields('ur3');
        }

        let file = $("#fileMy2")[0].files[0];
        if (file) resForm.append("fileImage", file);

        return resForm;

        function addLegalFields(prefix) {
            resForm.append("countryForDeliveryIdLegal", $(`#${prefix}-select-countries`).val() || '');
            resForm.append("regionForDeliveryIdLegal", $(`#${prefix}-select-regions`).val() || '');
            resForm.append("cityForDeliveryIdLegal", $(`#${prefix}-select-cities`).val() || '');
        }
    }


    ['fiz', 'ur', 'ur2', 'ur3'].forEach(prefix => handleChangeGeography(prefix));

</script>
</body>
</html>

