<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Configuration</title>
    <link rel="stylesheet" th:href="@{/css/tabs-localization.css}"/>
    <style>
        .icon-plus {
            color: white;
            font-size: 40px;
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
            margin-bottom: 7px;
        }

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #337D5A;
            cursor: pointer;
        }

        .icon-container:hover {
            background-color: #165f16 !important;
        }

        .edit-icon:hover {
            color: red;
            cursor: pointer;
        }

        .delete-icon:hover {
            color: red;
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
        <div class="row">
            <div class="col">
                <h4 class="fw-bold">Tastes</h4>
                <div class="icon-container" id="btnAdd-taste" data-modal="ModalForSaveTaste"
                     aria-hidden="true">
                    <span class="icon-plus">+</span>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="table-data-container-tastes_">
                        <tr>
                            <td>1</td>
                            <td>Sweet</td>
                            <td>
                                <div class="text-center" style="width: auto;">
                                    <span class="edit-icon" data-type="taste">
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                    <span class="delete-icon" data-type="taste">
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h4 class="fw-bold">Discount</h4>
                <div class="icon-container" id="btnAdd-discount" data-modal="ModalForSaveDiscount"
                     aria-hidden="true">
                    <span class="icon-plus">+</span>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="table-data-container-discounts_">
                        <tr>
                            <td>1</td>
                            <td>Sweet</td>
                            <td>
                                <div class="text-center" style="width: auto;">
                                    <span class="edit-icon" data-type="discount">
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                    <span class="delete-icon" data-type="discount">
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add Taste -->
    <div class="modal fade show modal-sm" id="ModalForSaveTaste" tabindex="" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="nav-align-top">
                    <ul class="nav nav-tabs gap-3" role="tablist" style="background: none;">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#navs-uk" aria-controls="navs-uk" aria-selected="true"
                                    style="margin-left: 15px;" data-lang="uk" data-type="taste">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>UK
                            </span>
                                <i class="ti ti-planet ti-sm d-sm-none"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#navs-en" aria-controls="navs-en" aria-selected="false"
                                    data-lang="en" data-type="taste">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>EN
                            </span>
                                <i class="ti ti-planet ti-sm d-sm-none"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="navs-uk" role="tabpanel">
                        <div class="modal-body pt-0">
                            <div class="row">
                                <div class="d-flex flex-column align-items-center justify-content-center gap-4">
                                    <div id="tasteId-block-uk" class="col-md-12"></div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="tasteName-uk_">Ім'я:</label>
                                        <input class="form-control fields-entity" type="text" id="tasteName-uk_"
                                               data-name="tasteNameUk"
                                               placeholder="Джон Дуе" style="border: 1px solid rebeccapurple;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-en" role="tabpanel">
                        <div class="modal-body pt-0">
                            <div class="row">
                                <div class="d-flex flex-column align-items-center justify-content-center gap-4">
                                    <div id="tasteId-block-en" class="col-md-12"></div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="tasteName-en_">Name:</label>
                                        <input class="form-control fields-entity" type="text" id="tasteName-en_"
                                               data-name="tasteNameEn"
                                               placeholder="John Doe" style="border: 1px solid rebeccapurple;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success float-end" id="save-taste_"
                                style="width: 100%">
                            Save taste
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Modal Add Taste -->

    <!-- Modal Add Discount -->
    <div class="modal fade show modal-sm" id="ModalForSaveDiscount" tabindex="" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="nav-align-top">
                    <ul class="nav nav-tabs gap-3" role="tablist" style="background: none;" id="tabs-discount">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#navsDiscount-uk" aria-controls="navsDiscount-uk"
                                    aria-selected="true"
                                    style="margin-left: 15px;" data-lang="uk" data-type="discount">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>UK
                            </span>
                                <i class="ti ti-planet ti-sm d-sm-none"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#navsDiscount-en" aria-controls="navsDiscount-en"
                                    aria-selected="false"
                                    data-lang="en" data-type="discount">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>EN
                            </span>
                                <i class="ti ti-planet ti-sm d-sm-none"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="navsDiscount-uk" role="tabpanel">
                        <div class="modal-body pt-0">
                            <div class="row">
                                <div class="d-flex flex-column align-items-center justify-content-center gap-4">
                                    <div id="discountId-block-uk" class="col-md-12"></div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="discountName-uk_">Ім'я:</label>
                                        <input class="form-control fields-entity" type="text"
                                               id="discountName-uk_" data-name="discountNameUk"
                                               placeholder="Новий" style="border: 1px solid rebeccapurple;">
                                    </div>
                                    <div id="percent-block-uk" class="col-md-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navsDiscount-en" role="tabpanel">
                        <div class="modal-body pt-0">
                            <div class="row">
                                <div class="d-flex flex-column align-items-center justify-content-center gap-4">
                                    <div id="discountId-block-en" class="col-md-12"></div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="discountName-en_">Name:</label>
                                        <input class="form-control fields-entity" type="text" id="discountName-en_"
                                               data-name="discountNameEn"
                                               placeholder="New" style="border: 1px solid rebeccapurple;">
                                    </div>
                                    <div id="percent-block-en" class="col-md-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success float-end" id="save-discount_"
                                style="width: 100%">
                            Save taste
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Modal Add Discount -->

    <!-- Taste Id -->
    <div id="shared-tasteId" style="display: none;">
        <label class="form-label" for="tasteId_">Id:</label>
        <input class="form-control" type="text" id="tasteId_" data-name="tasteId"
               placeholder="1" style="border: 1px solid rebeccapurple;">
    </div>
    <!--/ Taste Id -->

    <!-- Discount Id -->
    <div id="shared-discountId" style="display: none;">
        <label class="form-label" for="discountId_">Id:</label>
        <input class="form-control" type="text" id="discountId_" data-name="discountId"
               placeholder="1" style="border: 1px solid rebeccapurple;">
    </div>
    <!--/ Discount Id -->

    <!-- Percent -->
    <div id="shared-percent" style="display: none;">
        <label class="form-label" for="percent_">Percent:</label>
        <input class="form-control" type="text" id="percent_" data-name="value"
               placeholder="1" style="border: 1px solid rebeccapurple;">
    </div>
    <!--/ Percent -->

    <script th:src="@{/js/validator.js}"></script>
    <script th:src="@{/js/copy.js}"></script>

    <script>
        document.querySelectorAll('[data-bs-toggle="tab"]').forEach(tab => {
            tab.addEventListener('shown.bs.tab', function (event) {
                let attribute = this.getAttribute('data-type');
                console.log(attribute);
                const activatedTabId = event.target ? event.target.getAttribute('data-lang') : null;
                let previousActiveTab = event.relatedTarget ? event.relatedTarget.getAttribute('data-lang') : null;

                // console.log(`Switched to tab: ${activatedTabId}`);
                console.log(`Previous: ${previousActiveTab}`);
                console.log(`Active: ${activatedTabId}`);

                if (previousActiveTab && attribute === 'taste') {
                    copyHTMLBlockInput(`tasteId-block-${previousActiveTab}`, `shared-tasteId`);
                }else if(previousActiveTab && attribute === 'discount'){
                    copyHTMLBlockInput(`discountId-block-${previousActiveTab}`, `shared-discountId`);
                    copyHTMLBlockInput(`percent-block-${previousActiveTab}`, `shared-percent`);
                }

                if (activatedTabId && attribute === 'taste') {
                    copyHTMLBlockInput(`shared-tasteId`, `tasteId-block-${activatedTabId}`);
               } else if(activatedTabId && attribute === 'discount'){
                    copyHTMLBlockInput(`shared-discountId`, `discountId-block-${activatedTabId}`);
                    copyHTMLBlockInput(`shared-percent`, `percent-block-${activatedTabId}`);
                }
                // localStorage.setItem('activeLang_Global', activatedTabId);
            });
        });
    </script>

    <script>

        function getFormDataTaste() {
            const resForm = new FormData();
            resForm.append("tasteId", $('#tasteId_').val());
            resForm.append("tasteNameUk", $('#tasteName-uk_').val());
            resForm.append("tasteNameEn", $('#tasteName-en_').val());
            return resForm;
        }

        function getFormDataDiscount() {
            const resForm = new FormData();
            resForm.append("discountId", $('#discountId_').val());
            resForm.append("discountNameUk", $('#discountName-uk_').val());
            resForm.append("discountNameEN", $('#discountName-en_').val());
            resForm.append("value", $('#percent_').val());
            return resForm;
        }

        function requestSaveTaste() {
            let formData = getFormDataTaste();
            $.ajax({
                type: "post",
                url: contextPath + `admin/taste/save`,
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    // window.location.replace(`${contextPath}admin/products/configuration`);

                },
                error: function (error) {
                    clearValid();
                    let data = JSON.parse(error.responseText);
                    validate2(data);
                    console.log("Error submitting form:", error);
                }
            });
        }

        function requestSaveDiscount() {
            let formData = getFormDataDiscount();
            $.ajax({
                type: "post",
                url: contextPath + `admin/discount/save`,
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.replace(`${contextPath}admin/products/configuration`);
                },
                error: function (error) {
                    clearValid();
                    let data = JSON.parse(error.responseText);
                    validate2(data);
                    console.log("Error submitting form:", error);
                }
            });
        }

        function addEventListenerActions() {
            $("#table-data-container-tastes_").on('click', '.edit-icon, .delete-icon', function () {
                let attribute = this.getAttribute('data-type');
                let id = this.getAttribute('data-id');
                // console.log(attribute);
                if ($(this).hasClass('edit-icon') && attribute === 'taste') {
                    console.log(id);
                    requestGetTaste(`${contextPath}admin/taste/${id}`);
                } else if ($(this).hasClass('delete-icon') && attribute === 'taste') {
                    console.log('Delete taste');
                }
            });
            $("#table-data-container-discounts_").on('click', '.edit-icon, .delete-icon', function () {
                let attribute = this.getAttribute('data-type');
                let id = this.getAttribute('data-id');
                if ($(this).hasClass('edit-icon') && attribute === 'discount') {
                    console.log('Edit discount')
                    requestGetDiscount(`${contextPath}admin/discount/${id}`);
                } else if ($(this).hasClass('delete-icon') && attribute === 'discount') {
                    console.log('Delete discount');
                }
            });
        }

        function setActiveTab(modalId) {
            let savedLang = localStorage.getItem('activeLang_Global') || 'uk';
            let modalElement = document.getElementById(modalId);
            const targetTab = modalElement.querySelector(`[data-lang="${savedLang}"]`);
            if (targetTab) {
                targetTab.click();
            }
        }

        function addEventListenerButtonAdd() {
            document.getElementById('btnAdd-taste').addEventListener('click', () => {
                // setActiveTab('ModalForSaveTaste');
                $('#tasteName-uk_').val('');
                $('#tasteName-en_').val('');
                $('#tasteId_').val('');
                const modal = new bootstrap.Modal(document.getElementById('ModalForSaveTaste'));
                modal.show();
            });

            document.getElementById('btnAdd-discount').addEventListener('click', () => {
                // setActiveTab('ModalForSaveDiscount');
                $('#discountName-uk_').val('');
                $('#discountName-en_').val('');
                $('#discountId_').val('');
                $('#percent_').val('');
                const modal = new bootstrap.Modal(document.getElementById('ModalForSaveDiscount'));
                modal.show();
            });

            $("#save-taste_").on('click', function () {
                requestSaveTaste();
            });
            $("#save-discount_").on('click', function () {
                requestSaveDiscount();
            });
        }

        $(document).ready(function () {
            let activeLang = getActiveLangTab();
            requestGetTastes();
            requestGetDiscounts();
            addEventListenerActions();
            addEventListenerButtonAdd();
            copyHTMLBlockInput('shared-tasteId', `tasteId-block-${activeLang}`);
            copyHTMLBlockInput('shared-discountId', `discountId-block-${activeLang}`);
            copyHTMLBlockInput(`shared-percent`, `percent-block-${activeLang}`);
            // requestGetTaste(`${contextPath}admin/taste/${id}`);
        });

        function requestGetTaste(url) {
            let request = new XMLHttpRequest();
            request.open("GET", url);
            request.send();
            request.addEventListener('load', function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    console.log(data);
                    const modal = new bootstrap.Modal(document.querySelector("#ModalForSaveTaste"));
                    modal.show();
                    for (let key in data) {
                        if (data.hasOwnProperty(key) && data[key] !== '') {
                            console.log(`Key: ${key} Value: ${data[key]}`);
                            let input = $(`input[data-name="${key}"], textarea[data-name="${key}"], div[data-name="${key}"]`);
                            if (input) {
                                input.val(data[key]);
                            }
                        }
                    }
                }
            });
        }

        function requestGetDiscount(url) {
            let request = new XMLHttpRequest();
            request.open("GET", url);
            request.send();
            request.addEventListener('load', function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    console.log(data);
                    const modal = new bootstrap.Modal(document.querySelector("#ModalForSaveDiscount"));
                    modal.show();
                    for (let key in data) {
                        if (data.hasOwnProperty(key) && data[key] !== '') {
                            console.log(`Key: ${key} Value: ${data[key]}`);
                            let input = $(`input[data-name="${key}"], textarea[data-name="${key}"], div[data-name="${key}"]`);
                            if (input) {
                                input.val(data[key]);
                            }
                        }
                    }
                }
            });
        }

        function requestGetTastes() {
            let request = new XMLHttpRequest();
            request.open("GET", `${contextPath}admin/tastes?languageCode=${getActiveLangTab()}`);
            request.send();
            request.addEventListener('load', function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    const containerTable = document.getElementById("table-data-container-tastes_");
                    containerTable.innerHTML = '';
                    // console.log(data);
                    if (data.length > 0) {
                        data.forEach(function (element) {
                            containerTable.innerHTML += getRowData(element);
                        });
                    }
                }
            });
        }

        function requestGetDiscounts() {
            let request = new XMLHttpRequest();
            request.open("GET", `${contextPath}admin/discounts?languageCode=${getActiveLangTab()}`);
            request.send();
            request.addEventListener('load', function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    const containerTable = document.getElementById("table-data-container-discounts_");
                    containerTable.innerHTML = '';
                    console.log(data);
                    if (data.length > 0) {
                        data.forEach(function (element) {
                            containerTable.innerHTML += getRowData2(element);
                        });
                    }
                }
            });
        }

        function getRowData(element) {
            let row = '<tr>';
            Object.keys(element).forEach(field => {
                const value = element[field] !== null ? element[field] : '';
                row += `<td class="divided-text">${value}</td>`;
            });
            row += `
        <td>
                                <div class="text-center" style="width: auto;">
                                    <span class="edit-icon" data-type="taste" data-id="${element.id}">
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                    <span class="delete-icon" data-type="taste" data-id="${element.id}">
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </div>
                            </td>

    `;
            row += '</tr>';
            return row;
        }

        function getRowData2(element) {
            let row = '<tr>';
            Object.keys(element).forEach(field => {
                const value = element[field] !== null ? element[field] : '';
                row += `<td class="divided-text">${value}</td>`;
            });
            row += `
        <td>
                                <div class="text-center" style="width: auto;">
                                    <span class="edit-icon" data-type="discount" data-id="${element.id}">
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                    <span class="delete-icon" data-type="discount" data-id="${element.id}">
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </div>
                            </td>

    `;
            row += '</tr>';
            return row;
        }
    </script>
</div>
<!--/ Content -->
</body>
</html>