<!DOCTYPE html>
<html lang="uk"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{text.products}"></title>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
        <h4 class="text-center fw-bold" th:text="#{text.table.products}"></h4>
        <div class="card" id="card-block" style="width: 1220px;">
            <h5 class="card-header" th:text="#{text.products}"></h5>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="d-flex align-items-center">
                            <label for="pick-size-for-pagination_" class="d-flex align-items-center"><span th:text="#{text.show}"></span>
                                <select class="form-select mx-2 select-card-block-spinner"
                                        id="pick-size-for-pagination_"
                                        name="size">
                                    <option value="1">1</option>
                                    <option value="3">3</option>
                                    <option value="5" selected>5</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select> <span th:text="#{text.entries}"></span></label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-end">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-9 text-end">
                                <a th:href="@{/admin/product/create}" class="btn btn-green btn-circle">
                                    <i class="ti ti-plus"></i>
                                </a>
                            </div>
                            <div class="col-3 text-start label-add" th:text="#{text.button.add}">                            </div>
                        </div>
                    </div>
                </div>
                <div id="error-container"></div>
                <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-bordered table-hover linkedRow"
                           style="table-layout: fixed; position: static; zoom: 1;"
                           id="table-data-container_">
                        <thead>
                        <tr>
                            <th style="width: 100px">ID</th>
                            <th style="width: 200px" th:text="#{table.header.name}">Name</th>
                            <th style="width: 200px" th:text="#{table.header.taste}">Taste</th>
                            <th style="width: 200px" th:text="#{table.header.totalCount}">Total counts</th>
                            <th style="width: 200px" th:text="#{table.header.priceByProduct}">Price by product</th>
                            <th style="width: 200px" th:text="#{table.header.status}">Status</th>
                            <th style="width: 200px" th:text="#{table.header.functions}">Action</th>
                        </tr>
                        <tr>
                            <th>
                                <input class="form-control input-card-block-spinner"
                                       name="id"/>
                            </th>
                            <th>
                                <input class="form-control input-card-block-spinner"
                                       name="name"/>
                            </th>
                            <th>
                                <select class="form-select mx-2 select-card-block-spinner"
                                        id="pick-type-of-taste_"
                                        name="taste">
                                    <option value="" selected th:text="#{value.status.all}"></option>
                                </select>
                            </th>
                            <th></th>
                            <th>
                                <input class="form-control input-card-block-spinner"
                                       name="priceByUnit"/>
                            </th>
                            <th>
                                <select class="form-select mx-2 select-card-block-spinner"
                                        id="pick-type-of-discount_"
                                        name="discount">
                                    <option value="" selected th:text="#{value.status.all}"></option>
                                </select>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="p-2" id="table-pagination-container_"></div>
                <input type="hidden" name="languageCode" id="languageCode_" value="uk">
            </div>
        </div>
    </div>
    <script th:src="@{/js/table.js}"></script>
    <script>
        const inputs = ['id', 'name', 'taste', 'priceByUnit', 'discount'];
        let pathToTable = `${contextPath}/admin/products/table/load`;
        let pathToPagination = `${contextPath}/admin/products/pagination/load`;
        let timeoutId;
        let hasExecuted = false;

        $(document).on('click', '.edit-icon', function () {
            let id = $(this).data('id');
            window.location.pathname = contextPath + `/admin/product/${id}/edit`;
        });

        $(document).on('click', '.delete-icon', function () {
            let id = $(this).data('id');
            confirmAndPathDelete(id,`${contextPath}/admin/product/${id}/delete`,()=>{invokeRequest(inputs,0,true)});
        });

        $(document).on('htmx:afterSwap', (event) => {
            if (event.target.id === 'table-data-container_' && !hasExecuted) {
               hasExecuted = true;
                let discounts = $("#discounts_").val();
                let tastes = $("#tastes_").val();
                discounts = discounts.split(", ").map(item=>item.trim());
                tastes = tastes.split(", ").map(item=>item.trim());
                let tastesNew = getTransferData(tastes);
                let discountsNew = getTransferData(discounts);
                let tastesElements = document.getElementById("pick-type-of-taste_");
                let discountElements = document.getElementById("pick-type-of-discount_");
                fillOptions(tastesElements, tastesNew);
                fillOptions(discountElements, discountsNew);
            }
        });

        function fillOptions(discountElement, tastesNew) {
            if (discountElement) {
                tastesNew.forEach((el) => {
                    let optionElement = document.createElement("option");
                    optionElement.value = el.value;
                    optionElement.textContent = el.text;
                    discountElement.append(optionElement);
                });
            }
        }

        function getTransferData(data) {
            let arr = [];
            if (Array.isArray(data)) {
                data.forEach((el) => {
                    if (typeof el === "string") {
                        let s = el.charAt(0).toUpperCase() + el.slice(1);
                        arr.push({value: el, text: s})
                    }
                });
            }
            return arr;
        }

        $(document).ready(function (){
            selectedLanguage();
        });
    </script>
</div>
<!--/ Content -->
</body>
</html>