<!DOCTYPE html>
<html lang="uk"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gallery</title>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
        <!-- Header content -->
        <div class="row">
            <div class="col-12 text-start">
                <span class="title-out" th:text="#{text.addProduct}"></span>
            </div>
        </div>
        <!--/ Header content -->
        <div>
            <h3 class="text-center" th:text="#{text.imagesAndVideos}"></h3>
            <div class="row" id="container-gallery">
                <div id="gallery-items-wrapper" class="row col-12" style="display: contents;"></div>
                <div class="col-6 d-flex align-items-center pt-3" id="add-button-container"
                     style="height: 263px;margin-left: 24px;">
                    <button type="button" id="btn-add" class="btn btn-success btn-gallery-add">
                        <i class="ti ti-plus" style="border: white;font-size: 100px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/validator.js}"></script>
    <script th:src="@{/js/copy.js}"></script>
    <script th:src="@{/js/image.js}"></script>

    <script>
        const pathToTable = contextPath + '/admin/galleries/load'
        $(document).ready(function () {
            invokeRequestGalleries();
            addEventListenersImage();
            selectedLanguage();
            $('.modal-title').text(messages.areYouSureToDeleteIt);
        });

        function addEventListenersImage() {
            const container = "#container-gallery";

            $(container).on('click', '.btn-select', function () {
                let attribute = $(this).attr('data-type');
                $("#file-" + attribute).click();
            });

            $(container).on('click', '.btn-delete', function () {
                if ($(this).attr('data-typeDelete') === 'delete-object') return;
                let attribute = $(this).attr('data-type');
                let elementById = $("#" + attribute);
                elementById.attr('src', path_default_image);
                $("#file-" + attribute).val('');
                let element = $(this).closest('.row')[0];
                $(`input[data-name="pathToImage${element.getAttribute('data-id')}"]`).val('');
                let block = $(this).parent().parent().parent();
                validate(block,block.attr('data-id'))
            });

            $(container).on('change', '.files', function (event) {
                let attribute = $(this).data('type');
                const file = event.target.files[0];
                if (!file) return;

                const imageElement = $("#" + attribute);
                imageElement.attr('src', URL.createObjectURL(file));
            });

            $(container).on('click', '.btn-delete', function () {
                if ($(this).attr('data-typeDelete') === 'delete-image') return;
                let parentContainer = $(this).closest('.row')[0];
                let id = parentContainer.getAttribute('data-id');

                if (parentContainer.getAttribute('data-type') === 'old') {
                    confirmAndPathDelete(id,`${contextPath}/admin/gallery/delete`,()=>{
                        invokeRequestGalleries();
                    })
                } else {
                    parentContainer.remove();
                }
            });

            $('#modal-btnDelete_').on('click', function () {
                let attrId = this.getAttribute('data-id');
                let request = new XMLHttpRequest();
                request.open("GET", `${contextPath}/admin/gallery/${attrId}/delete`);
                request.send();
                request.addEventListener('load', function () {
                    if (request.status === 200) {
                        window.location.pathname = contextPath + '/admin/galleries';
                    }
                });
            });
        }

        function invokeRequestGalleries() {
            const params = new URLSearchParams();
            params.append('languageCode', document.documentElement.lang);
            htmx.ajax('GET', `${pathToTable}?${params.toString()}`, {
                target: '#gallery-items-wrapper',
                swap: 'innerHTML'
            });
        }
    </script>
    <script>
        let timeOutId;
        function handleInputChange(element) {
            clearTimeout(timeOutId);
            timeOutId = setTimeout(() => {
                let attrId = element.getAttribute('data-id');
                let attrType = element.getAttribute('data-type');

                let titleEl = $(element).find('.titles');
                let descriptionEl = $(element).find('.descriptions');
                let statusEl = $(element).find('.status');
                let imageEl = $(element).find('.files');
                let pathEl = $(element).find('.files');

                const resForm = new FormData();
                if (attrType && attrType !== 'new') {
                    resForm.append('id', attrId);
                }
                if (imageEl[0].files.length > 0) resForm.append('file', imageEl[0].files[0]);
                resForm.append('title', titleEl.val())
                resForm.append('description', descriptionEl.val());
                resForm.append('isActive', statusEl.is(':checked'));
                resForm.append('pathToMediaFile', pathEl[1].value);

                sendRequestSave(resForm, element);
            }, 3000);
        }

        $('#container-gallery').on('input', '.row', function () {
            let idBlock = $(this).data('id');
            validate($(this), idBlock);
        });

        function validate(rowElement, idBlock){
            let title = rowElement.find(`input[data-error="title"]`);
            let description = rowElement.find(`textarea[data-error="description"]`);

            let imageBlock = rowElement.find(`#image${idBlock}`).parent();
            let fileInput = rowElement.find(`#file-image${idBlock}`)[0];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];

            const isTitleFilled = title.val() !== '';
            const isDescriptionFilled = description.val() !== '';

            if (!isTitleFilled) {
                showError(title, 'The title should not be empty!');
            } else {
                removeError(title);
            }

            if (!isDescriptionFilled) {
                showError(description, 'The description should not be empty!');
            } else if (description.val().length > 600) {
                showError(description, 'The description does not should be more than 600 characters');
            } else {
                removeError(description);
            }

            let file = fileInput.files[0];
            if (file !== undefined && !validImageTypes.includes(file.type)) {
                imageBlock.append(`
            <div class="error-message text-danger">
                File should be extensions like JPEG or PNG
            </div>`);
            } else {
                imageBlock.next('.error-message').remove();
            }

            if (isTitleFilled && isDescriptionFilled) {
                handleInputChange(rowElement[0]);
            }
        }


        function showError(element, message) {
            element.addClass('is-invalid');
            if (element.next('.error-message').length === 0) {
                element.after(`<div class="error-message text-danger">${message}</div>`);
            }
        }

        function removeError(element) {
            element.removeClass('is-invalid');
            element.next('.error-message').remove();
        }

        function sendRequestSave(formData, el) {
            $.ajax({
                type: "post",
                url: contextPath + `/admin/gallery/save`,
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.replace(`${contextPath}/admin/galleries`);
                },
                error: function (error) {
                    clearValid();
                    let data = JSON.parse(error.responseText);
                    validateInSpecificContainer(data, el);
                    console.log("Error submitting form:", error);
                }
            });
        }

        function validateInSpecificContainer(data, containerEl) {
            Object.entries(data).forEach(function ([field, message]) {
                const inputField = containerEl.querySelector(`[data-error=${field}]`);
                if (inputField) {

                    inputField.classList.add("errorMy");
                    let errorMessage = document.createElement("span");
                    errorMessage.className = "error-message";
                    errorMessage.style.color = "red";
                    errorMessage.innerText = message;
                    if (inputField.getAttribute("class").includes("files")) {
                        inputField.parentNode.parentElement.append(errorMessage);
                    } else {
                        inputField.parentNode.appendChild(errorMessage);
                    }
                }
            });
        }

        $('#btn-add').on('click', addNewGallery);

        function addNewGallery() {
            const newBlock = document.createElement('div');
            newBlock.className = 'col-6 row pt-3';
            let UUID = new Date().getTime();
            newBlock.dataset.id = UUID;
            newBlock.dataset.type = 'new';
            let lang = getCurrentLang();
            if(lang==='uk'){
                newBlock.innerHTML = `
                                <div class="col-6 text-center">
                                    <img id="image${UUID}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGL-nM5H8eZfM19UQbIgDn0XwOUj1ByAyV4Q&s" alt="error" style="width: 200px; height: 200px;">
                                    <label class="form-label" style="color: #AAAAAA;">Png, jpg, jpeg, mp4, avi до 15 МБ</label>
                                    <div class="d-flex justify-content-center gap-3">
                                        <button type="button" class="btn btn-success btn-image btn-select"
                                        data-type="image${UUID}" style="background-color: #337D5A;border-color: #337D5A; position: relative;">Змінити</button>
                                        <button type="button" class="btn btn-success btn-image btn-delete" data-typedelete="delete-image"
                                        data-type="image${UUID}" style="background-color: #337D5A;border-color: #337D5A; position: relative;">Видалити</button>
                                    <input type="file" id="file-image${UUID}" data-type="image${UUID}" class="files"
                                           accept="image/*" style="display: none;" data-error="file">
                                    <input type="hidden" data-name="pathToImage${UUID}" data-image="image${UUID}"
                                           class="files" data-error="pathToMediaFile">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-12" style="display: flex; align-items: center; gap: 26px;">
                                        <div class="col-sm-1 d-flex align-items-center">
                                            <label class="switch switch-success">
                                                <input id="status_" type="checkbox" class="switch-input status"
                                                data-error="isActive">
                                                <span class="switch-toggle-slider">
                                                      <span class="switch-on"></span>
                                                      <span class="switch-off"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <a type="button" class="btnTrashMyBefore btn-delete" data-typedelete="delete-object">
                                            <i class="ti ti-trash" style="font-size: x-large;margin-bottom: 2px;"></i>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="title_">Заголовок:</label>
                                        <input class="form-control titles" id="title_" value="" style="width: 100%;"
                                        data-error="title">
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="description_">Опис:</label>
                                        <textarea class="form-control descriptions" id="description_" rows="3"
                                        data-error="description"></textarea>
                                        <label class="form-label" style="color: #AAAAAA;width: 100%;">Максимум: 600 символів</label>
                                    </div>
                                </div>
                                `;
            }else if (lang === 'en'){
                newBlock.innerHTML = `
                                <div class="col-6 text-center">
                                    <img id="image${UUID}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGL-nM5H8eZfM19UQbIgDn0XwOUj1ByAyV4Q&s" alt="error" style="width: 200px; height: 200px;">
                                    <label class="form-label" style="color: #AAAAAA;">Png, jpg, jpeg, mp4, avi to 15 MB</label>
                                    <div class="d-flex justify-content-center gap-3">
                                        <button type="button" class="btn btn-success btn-image btn-select"
                                        data-type="image${UUID}" style="background-color: #337D5A;border-color: #337D5A; position: relative;">Change</button>
                                        <button type="button" class="btn btn-success btn-image btn-delete" data-typedelete="delete-image"
                                        data-type="image${UUID}" style="background-color: #337D5A;border-color: #337D5A; position: relative;">Delete</button>
                                    <input type="file" id="file-image${UUID}" data-type="image${UUID}" class="files"
                                           accept="image/*" style="display: none;" data-error="file">
                                    <input type="hidden" data-name="pathToImage${UUID}" data-image="image${UUID}"
                                           class="files" data-error="pathToMediaFile">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-12" style="display: flex; align-items: center; gap: 26px;">
                                        <div class="col-sm-1 d-flex align-items-center">
                                            <label class="switch switch-success">
                                                <input id="status_" type="checkbox" class="switch-input status"
                                                data-error="isActive">
                                                <span class="switch-toggle-slider">
                                                      <span class="switch-on"></span>
                                                      <span class="switch-off"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <a type="button" class="btnTrashMyBefore btn-delete" data-typedelete="delete-object">
                                            <i class="ti ti-trash" style="font-size: x-large;margin-bottom: 2px;"></i>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="title_">Title:</label>
                                        <input class="form-control titles" id="title_" value="" style="width: 100%;"
                                        data-error="title">
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="description_">Description:</label>
                                        <textarea class="form-control descriptions" id="description_" rows="3"
                                        data-error="description"></textarea>
                                        <label class="form-label" style="color: #AAAAAA;width: 100%;">Max: 600 characters</label>
                                    </div>
                                </div>
                                `;
            }
            const container = document.getElementById('container-gallery');
            const addButtonContainer = document.getElementById('add-button-container');
            container.insertBefore(newBlock, addButtonContainer);
        }
    </script>
</div>
<!--/ Content -->

</body>
</html>