<div th:fragment="sidebar">
    <aside id="layout-menu" class="layout-menu menu-vertical menu"
           style="display: flex;flex-direction: column;height: 100%; background-color: #334A2E;">
        <div class="app-brand demo" style="margin: 12px;">
            <a href="javascript:void(0)" class="app-brand-link" style="margin-left: 3px;">
                              <span class="app-brand-logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSElOpZ5uC4yMroIDnLFlh3ofuil37lPsRzg&s"
                     width="38" height="38" alt="error" style="border-radius: 50%;">
                              </span>
                <span class="app-brand-text fw-bold" style="color: white;"><span
                        th:text="#{text.sidebar.header1}"></span>
                    <br><span th:text="#{text.sidebar.header2}"></span></span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle" style="color: white;"></i>
                <i class="ti ti-x d-block d-xl-none ti-sm align-middle" style="color: white;"></i>
            </a>
        </div>

        <ul class="menu-inner py-1 ps ps--active-y">
            <li class="menu-item">
                <a th:href="@{/admin/statistic}" class="menu-link">
                    <i th:class="'menu-icon ti ti-chart-arcs'+${isActiveStatistic!=null?' sidebar-icon-green':''}"
                       style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveStatistic!=null?' sidebar-title':''}"
                              th:text="#{text.sidebar.statistic}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/orders}" th:class="menu-link">
                    <i th:class="'menu-icon ti ti-package'+${isActiveOrders!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveOrders!=null?' sidebar-title':''}"
                              th:text="#{text.sidebar.orders}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/transactions}" class="menu-link">
                    <i th:class="'menu-icon ti ti-cash'+${isActiveTransactions!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveTransactions!=null?' sidebar-title':''}"
                                th:text="#{text.sidebar.transactions}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/warehouse}" class="menu-link">
                    <i th:class="'menu-icon ti ti-building-warehouse'+${isActiveWarehouse!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveWarehouse!=null?' sidebar-title':''}"
                              th:text="#{text.sidebar.warehouse}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/news}" class="menu-link">
                    <i th:class="'menu-icon ti ti-news'+${isActiveNews!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span  th:class="${isActiveNews!=null?' sidebar-title':''}"
                               th:text="#{text.sidebar.news}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/galleries}" class="menu-link">
                    <i th:class="'menu-icon ti ti-photo'+${isActiveGallery!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveGallery!=null?' sidebar-title':''}"
                              th:text="#{text.sidebar.galleries}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/nuts}" class="menu-link">
                    <svg th:class="'menu-icon'+ ${isActiveNuts!=null?' sidebar-icon-green':''}" xmlns="http://www.w3.org/2000/svg" fill="#000000"
                         height="20" width="22" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve"
                         style="fill: white;margin-right: 8px;padding-right: 1px;stroke: white;stroke-width: 15px;">
                        <g>
                            <g>
                                <path d="M394.86,136.98c-39.168-36.505-90.246-56.611-143.812-56.611c-56.993,0-108.743,22.754-146.744,59.608    C93.39,126.618,60,77.501,98.835,15.37c2.938-4.704,1.511-10.899-3.198-13.843c-4.694-2.938-10.899-1.511-13.843,3.198    C34.512,80.378,78.6,140.691,90.492,154.708c-31.396,36.841-50.407,84.542-50.407,136.625c0,53.575,20.107,105.046,56.611,144.204    c1.859,1.996,4.449,3.595,7.172,3.595c0.059,0,0.118,0,0.177,0c2.663,0,5.219-1.452,7.103-3.341L395.115,151.63    c1.928-1.928,2.987-4.751,2.943-7.478C398.009,141.424,396.857,138.839,394.86,136.98z M104.495,413.63    c-28.651-34.278-44.319-77.311-44.319-122.297c0-105.247,85.626-190.872,190.872-190.872c44.976,0,88.014,15.667,122.302,44.319    L104.495,413.63z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M470.097,338.35c-7-51.809-33.65-103.137-75.045-144.528c-3.924-3.924-10.281-3.924-14.206,0L153.533,421.13    c-1.884,1.884-2.943,4.439-2.943,7.103c0,2.663,1.06,5.219,2.943,7.103C203.831,485.634,267.099,512,324.308,512    c40.812,0,78.543-13.421,106.262-41.145C463.2,438.23,477.239,391.169,470.097,338.35z M423.119,449.197l-14.279-14.278    c-3.924-3.924-10.281-3.924-14.205,0c-3.924,3.924-3.924,10.281,0,14.205l14.276,14.276    c-58.436,48.948-159.361,33.934-233.938-35.299l212.843-212.838c34.317,36.932,56.356,81.25,62.37,125.775    C455.933,383.565,446.319,421.528,423.119,449.197z"/>
                            </g>
                        </g>
                    </svg>
                    <div style="color: white;">
                        <span th:class="${isActiveNuts!=null?' sidebar-title':''}"
                              th:text="#{text.nuts}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/calls}" class="menu-link">
                    <i th:class="'menu-icon ti ti-phone-calling'+${isActiveCalls!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveCalls!=null?'sidebar-title':''}"
                              th:text="#{text.sidebar.calls}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/contacts}" class="menu-link">
                    <i th:class="'menu-icon ti ti-address-book'+${isActiveContacts!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveContacts!=null?'sidebar-title':''}"
                                th:text="#{text.sidebar.contact}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/pages}" class="menu-link">
                    <i th:class="'menu-icon ti ti-settings'+${isActiveInfoPages!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveInfoPages!=null?'sidebar-title':''}"
                              th:text="#{text.sidebar.infoPages}"></span>
                    </div>
                </a>
            </li>

            <li class="menu-item">
                <a th:href="@{/admin/users}" class="menu-link">
                    <i th:class="'menu-icon ti ti-user-circle'+${isActiveUsers!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveUsers!=null?'sidebar-title':''}"
                              th:text="#{text.sidebar.users}"></span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/managers}" class="menu-link">
                    <i th:class="'menu-icon ti ti-businessplan'+${isActiveManagers!=null?' sidebar-icon-green':''}" style="color: white;"></i>
                    <div style="color: white;">
                        <span th:class="${isActiveManagers!=null?'sidebar-title':''}"
                              th:text="#{text.sidebar.managers}"></span>
                    </div>
                </a>
            </li>
        </ul>
    </aside>
</div>

