<!DOCTYPE html>
<html lang="гл"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{text.factory} + '' +#{text.page}"></title>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/tabs-localization.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}"/>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">

        <!-- Header content -->
        <div class="row">
            <div class="row col-12 d-flex align-items-center mb-3 justify-content-start">
                <div class="col-auto text-center">
                    <a th:href="@{/admin/pages}">
                        <i class="ti ti-arrow-left icon-hover-arrow" style="color: green; font-size: 30px;"></i>
                    </a>
                </div>
                <div class="col-auto" style="padding-right: 5px;" th:text="#{text.page}"></div>
                <i class="ti ti-arrow-right col-auto p-0" style="color: grey; font-size: 15px;"></i>
                <div class="col-auto" style="padding-left: 5px;" th:text="#{text.about} + ' '+#{text.factory}"></div>
            </div>
        </div>
        <!--/ Header content -->

        <!-- Language tabs -->
        <div class="nav-align-top">
            <ul class="nav nav-tabs" role="tablist" style="background: none;">
                <li class="nav-item">
                    <button type="button" class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#navs-uk" aria-controls="navs-uk" aria-selected="true"
                            style="margin-left: 15px;"
                            data-lang="uk">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>UK
                            </span>
                        <i class="ti ti-planet ti-sm d-sm-none"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#navs-en" aria-controls="navs-en" aria-selected="false"
                            data-lang="en">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>EN
                            </span>
                        <i class="ti ti-planet ti-sm d-sm-none"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!--/ Language tabs -->

        <div class="tab-content" id="pills-tabContent">
            <!-- UK Form -->
            <div class="tab-pane fade show active" id="navs-uk" role="tabpanel"
                 data-bs-toggle="tab">
                <div class="row">
                    <div class="col-12 row">
                        <div class="col-6 text-end">
                            <h4>1 блок - Баннер</h4>
                        </div>
                        <div class="col-6" id="status-factory-banner-uk"></div>
                        <div class="col-6" id="image-factory-banner-block-uk"></div>
                        <div class="col-6 row">
                            <div class="col-12">
                                <label class="form-label" for="factory-banner-title-uk_"
                                       style="font-size: small;font-weight: bold">Заголовок:</label>
                                <input class="form-control" id="factory-banner-title-uk_"
                                       data-name="factoryBannerTitleUk"
                                       data-error="requestFactoryBannerForAdd.factoryBannerTitleUk">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="factory-banner-description-uk_"
                                       style="font-size: small;font-weight: bold">Опис:</label>
                                <textarea class="form-control descriptions" id="factory-banner-description-uk_" rows="3"
                                          data-name="factoryBannerDescriptionUk"
                                          data-error="requestFactoryBannerForAdd.factoryBannerDescriptionUk"></textarea>
                                <label class="form-label" style="color: #AAAAAA;">Максимум: 150 символів</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #dbdade;margin-top: 10px;"></div>
                <div class="row mt-2">
                    <div class="col-12 row">
                        <div class="col-6 text-end">
                            <h4>2 блок</h4>
                        </div>
                        <div class="col-4" id="status-block-uk"></div>
                    </div>
                    <div class="row" id="container-factory-block-images-uk">
                        <div class="col-3" id="add-button-container"
                             style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-outline-success" id="btn-add-media-block"
                                        th:text="#{text.button.addMedia}"></button>
                            </div>
                            <span class="text-center"
                                  style="font-size: small; color: darkgrey; display: block; margin-top: 10px;"
                                  th:text="#{text.mediaSize10}">
                                </span>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-12">
                            <label class="form-label" for="factory-block-title-uk_"
                                   style="font-size: small;font-weight: bold">Заголовок:</label>
                            <input class="form-control" id="factory-block-title-uk_"
                                   data-name="factoryBlockTitleUk"
                                   data-error="requestFactoryBlockForAdd.factoryBlockTitleUk">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="edit-description-block-uk"
                                   style="font-size: small;font-weight: bold">Опис:</label>
                            <div id="edit-description-block-uk" class="editor-realise"
                                 data-error="requestFactoryBlockForAdd.factoryBlockDescriptionUk"
                                 style="min-height: 100px; border: 1px solid #ccc;"></div>
                            <label class="form-label" style="color: #AAAAAA;">Максимум: 3500 символів</label>
                            <div type="hidden" id="hidden-edit-description-block-uk"
                                 data-name="factoryBlockDescriptionUk"
                                 style="display: none;" class="editors"></div>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #dbdade;margin-top: 10px;"></div>
                <div id="save-block-uk"></div>
            </div>
            <!--/ UK Form -->

            <!-- EN Form -->
            <div class="tab-pane fade mb-5" id="navs-en" role="tabpanel"
                 data-bs-toggle="tab">
                <div class="row">
                    <div class="col-12 row">
                        <div class="col-6 text-end">
                            <h4>1 block - Banner</h4>
                        </div>
                        <div class="col-6" id="status-factory-banner-en"></div>
                    </div>
                    <div class="col-6" id="image-factory-banner-block-en"></div>
                    <div class="col-6 row">
                        <div class="col-12">
                            <label class="form-label" for="factory-banner-title-en_"
                                   style="font-size: small;font-weight: bold">Title:</label>
                            <input class="form-control" id="factory-banner-title-en_" data-name="factoryBannerTitleEn"
                                   data-error="requestFactoryBannerForAdd.factoryBannerTitleEn">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="factory-banner-description-en_"
                                   style="font-size: small;font-weight: bold">Description:</label>
                            <textarea class="form-control descriptions" id="factory-banner-description-en_" rows="3"
                                      data-name="factoryBannerDescriptionEn"
                                      data-error="requestFactoryBannerForAdd.factoryBannerDescriptionEn"></textarea>
                            <label class="form-label" style="color: #AAAAAA;">Max: 150 characters</label>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #dbdade;margin-top: 10px;"></div>
                <div class="row mt-2">
                    <div class="col-12 row">
                        <div class="col-6 text-end">
                            <h4>2 block</h4>
                        </div>
                        <div class="col-4" id="status-block-en"></div>
                    </div>
                    <div class="row" id="container-factory-block-images-en"></div>
                    <div class="col-6 row">
                        <div class="col-12">
                            <label class="form-label" for="factory-block-title-uk_en_"
                                   style="font-size: small;font-weight: bold">Title:</label>
                            <input class="form-control" id="factory-block-title-uk_en_"
                                   data-name="factoryBlockTitleEn"
                                   data-error="requestFactoryBlockForAdd.factoryBlockTitleEn">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="edit-description-block-en"
                                   style="font-size: small;font-weight: bold">Description:</label>
                            <div id="edit-description-block-en" class="editor-realise"
                                 style="min-height: 100px; border: 1px solid #ccc;"
                                 data-error="requestFactoryBlockForAdd.factoryBlockDescriptionEn"></div>
                            <label class="form-label" style="color: #AAAAAA;">Max: 3500 characters</label>
                            <div type="hidden" id="hidden-edit-description-block-en"
                                 data-name="factoryBlockDescriptionEn" style="display: none;" class="editors"></div>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #dbdade;margin-top: 10px;"></div>
                <div id="save-block-en"></div>
            </div>
            <!--/ EN Form -->

            <!-- Input hidden -->
            <input type="hidden" id="factoryBannerId_" data-name="factoryBannerId">
            <input type="hidden" id="factoryBlockId_" data-name="factoryBlockId">
            <input type="file" id="file-factoryBannerFile" data-type="factoryBannerFile" class="files"
                   accept="image/*" style="display: none;">
            <input type="hidden" data-name="factoryBannerPathToImage" class="files" data-image="factoryBannerFile">

            <!-- Input Medias hidden -->
            <div id="container-inputs"></div>
            <!--/ Input Medias hidden -->

            <!--/ Input hidden -->

            <!-- Status Catalog Banner Base -->
            <div id="shared-status-catalog-banner" style="display: none;">
                <label class="switch switch-success mt-1">
                    <input id="status-catalog-banner" data-name="factoryBannerIsActive" type="checkbox"
                           class="switch-input">
                    <span class="switch-toggle-slider">
                                            <span class="switch-on"></span>
                                            <span class="switch-off"></span>
                                         </span>
                </label>
            </div>
            <!--/ Status Catalog Banner Base -->

            <!-- Status Block Base -->
            <div id="shared-status-factory-block" style="display: none;">
                <label class="switch switch-success mt-1">
                    <input id="status-factory-block" data-name="factoryBlockIsActive" type="checkbox"
                           class="switch-input">
                    <span class="switch-toggle-slider">
                                            <span class="switch-on"></span>
                                            <span class="switch-off"></span>
                                         </span>
                </label>
            </div>
            <!--/ Status Block Base -->

            <!-- Image Catalog Base -->
            <div id="shared-image-factory-banner" style="display: none;">
                <div class="position-relative">
                    <img id="factoryBannerFile" data-name="factoryBannerFile"
                         th:src="@{'/uploads/default/default-image.jpg'}"
                         alt="error" style="width: 100%; height: 255px; display: block; margin: 0 auto;"
                         data-error="requestFactoryBannerForAdd.factoryBannerFile">
                    <button type="button" data-type="factoryBannerFile"
                            class="btn btn-outline-success btn-select"
                            style="left: 13%;top:25%;position: absolute;width: 35%;"
                            th:text="#{text.button.change}">
                    </button>
                    <button type="button" data-type="factoryBannerFile"
                            class="btn btn-outline-success btn-delete"
                            style="right: 13%;top:25%;position: absolute;width: 35%;"
                            th:text="#{text.button.delete}">
                    </button>
                    <span class="text-center"
                          style="font-size: small; color: darkgrey; display: block; margin-top: 10px;"
                          th:text="#{text.mediaSize15}"></span>
                </div>


            </div>
            <!--/ Image Catalog Base -->

            <!-- Button save Base -->
            <div id="shared-save" style="display: none;">
                <button type="button" class="btn btn-green" id="btn-save_" style="width: 25%;"
                        th:text="#{text.button.save}"></button>
            </div>
            <!--/ Button save Base -->

            <script th:src="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
            <script th:src="@{/js/image.js}"></script>
            <script th:src="@{/js/validator.js}"></script>
            <script th:src="@{/js/copy.js}"></script>
            <script th:src="@{/js/event-listener.js}"></script>

            <script>
                function copyHTMLBlockImage(fromElementId, toElementId) {
                    $(`#${toElementId}`).html($(`#${fromElementId}`).html());
                    addEventListenersImage2();
                    clearBlock(fromElementId);
                }

                function copyHTMLBlockSave(fromElementId, toElementId) {
                    $(`#${toElementId}`).html($(`#${fromElementId}`).html());
                    document.getElementById('btn-save_').addEventListener('click', function () {
                        saveRequest(urlCatalogBlock);
                    });
                    clearBlock(fromElementId);
                }
            </script>
            <script>
                function getFroalaEditor(idElementEditor) {
                    return new FroalaEditor(`#${idElementEditor}`, {
                        height: 12 * 10,
                        width: 700,
                        scrollableContainer: `#${idElementEditor}`,
                        events: {
                            'initialized': function () {
                                let element = $(`#hidden-${idElementEditor}`);
                                this.html.set(element.html() || '');
                            },
                            'contentChanged': function () {
                                const html = this.html.get();
                                $(`#hidden-${idElementEditor}`).html(html);
                            }
                        }
                    });
                }
            </script>
            <script>
                document.querySelectorAll('[data-bs-toggle="tab"]').forEach(tab => {
                    tab.addEventListener('shown.bs.tab', function (event) {
                        const activatedTabId = event.target ? event.target.getAttribute('data-lang') : null;
                        let previousActiveTab = event.relatedTarget ? event.relatedTarget.getAttribute('data-lang') : null;

                        if (previousActiveTab) {
                            copyHTMLBlockImage(`image-factory-banner-block-${previousActiveTab}`, 'shared-image-factory-banner');
                            copyHTMLBlockSave(`save-block-${previousActiveTab}`, 'shared-save');
                            copyHTMLBlockSwitch(`status-factory-banner-${previousActiveTab}`, 'shared-status-catalog-banner');
                            copyHTMLBlockSwitch(`status-block-${previousActiveTab}`, 'shared-status-factory-block');
                        }

                        if (activatedTabId) {
                            copyHTMLBlockImage('shared-image-factory-banner', `image-factory-banner-block-${activatedTabId}`);
                            copyHTMLBlockSave('shared-save', `save-block-${activatedTabId}`);
                            copyHTMLBlockSwitch('shared-status-catalog-banner', `status-factory-banner-${activatedTabId}`);
                            copyHTMLBlockSwitch('shared-status-factory-block', `status-block-${activatedTabId}`);
                        }

                        copyHTMLBlockImage(`container-factory-block-images-${previousActiveTab}`, `container-factory-block-images-${activatedTabId}`);
                        addEventListenerForMediaFiles(activatedTabId);
                    });
                });

                $(document).ready(function () {
                    let activeLang = getActiveLangTab();
                    copyHTMLBlockImage('shared-image-factory-banner', `image-factory-banner-block-${activeLang}`);
                    copyHTMLBlockSave('shared-save', `save-block-${activeLang}`);
                    copyHTMLBlockSwitch('shared-status-catalog-banner', `status-factory-banner-${activeLang}`);
                    copyHTMLBlockSwitch('shared-status-factory-block', `status-block-${activeLang}`);
                    requestGetData();
                    addEventListenerForMediaFiles(activeLang);
                    selectedLanguage();
                });

                const urlCatalogBlock = `${contextPath}/admin/page/factory/save`;

                function addEventListenerForMediaFiles(langActive) {
                    const container = "#container-factory-block-images-" + langActive;

                    $(container).on('click', '.btn-select', function () {
                        let attribute = $(this).attr('data-type');
                        $("#file-" + attribute).click();
                    });
                    $('#container-inputs').on('change', '.files', function (event) {
                        let attribute = $(this).data('type');
                        const file = event.target.files[0];
                        if (!file) return;

                        const imageElement = $("#" + attribute);
                        imageElement.attr('src', URL.createObjectURL(file));
                        $(`input[data-image="${attribute}"]`).val('');
                    });
                    $(container).on('click', '.btn-delete', function () {
                        let value = $(this).data('type');
                        $(`#file-${value}`).remove();
                        $(`input[data-image="${value}"]`).remove();
                        $(this).parent().parent().remove();
                    });

                    $('#btn-add-media-block').on('click', function () {
                        addMediaImageBlock('new');
                    });
                }

                function getActiveLangTab() {
                    return document.querySelector('button.nav-link.active').getAttribute('data-lang');
                }
            </script>
            <script>
                function saveRequest(url) {
                    let formData = getFormCatalog();

                    $.ajax({
                        type: "post",
                        url: url,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            clearValid();
                            let data = JSON.parse(error.responseText);
                            validate3(data);
                            console.log("Error submitting form:", error);
                        }
                    });
                }

                function getFormCatalog() {
                    let resForm = new FormData();
                    resForm.append('requestFactoryBannerForAdd.factoryBannerId', $("#factoryBannerId_").val());
                    resForm.append("requestFactoryBannerForAdd.factoryBannerIsActive", $("#status-catalog-banner").prop('checked'));
                    resForm.append("requestFactoryBannerForAdd.factoryBannerTitleUk", $("#factory-banner-title-uk_").val());
                    resForm.append("requestFactoryBannerForAdd.factoryBannerTitleEn", $("#factory-banner-title-en_").val());
                    resForm.append("requestFactoryBannerForAdd.factoryBannerDescriptionUk", $("#factory-banner-description-uk_").val());
                    resForm.append("requestFactoryBannerForAdd.factoryBannerDescriptionEn", $("#factory-banner-description-en_").val());
                    resForm.append("requestFactoryBannerForAdd.factoryBannerPathToBanner", $('input[data-name="factoryBannerPathToImage"]').val());
                    let factoryBannerFile = $('#file-factoryBannerFile')[0].files[0];
                    if (factoryBannerFile) {
                        resForm.append('requestFactoryBannerForAdd.factoryBannerFile', factoryBannerFile);
                    }

                    let langActive = getActiveLangTab();
                    let $containerFactoryImages = $(`#container-factory-block-images-${langActive} .col-3`);
                    let counter = 0;
                    $containerFactoryImages.each(function () {
                        let attrId = $(this).attr("data-id");
                        let attrDataType = $(this).attr('data-type');
                        if (attrId) {
                            let $file = $(`input[data-type="image${attrId}"]`);
                            let $pathToFile = $(`input[data-image="image${attrId}"]`);
                            let file = $file[0].files[0];
                            if (attrDataType && attrDataType !== 'new') resForm.append(`requestFactoryBlockForAdd.factoryBlockFiles[${counter}].id`, attrId);
                            if ($file[0].files.length > 0) resForm.append(`requestFactoryBlockForAdd.factoryBlockFiles[${counter}].fileImage`, file);
                            resForm.append(`requestFactoryBlockForAdd.factoryBlockFiles[${counter}].pathToImage`, $pathToFile.val() === 'undefined' ? '' : $pathToFile.val());
                        }
                        counter++;
                    });
                    resForm.append(`requestFactoryBlockForAdd.factoryBlockId`, $("#factoryBlockId_").val());
                    resForm.append(`requestFactoryBlockForAdd.factoryBlockIsActive`, $("#status-factory-block").prop('checked'));
                    resForm.append(`requestFactoryBlockForAdd.factoryBlockTitleUk`, $('#factory-block-title-uk_').val());
                    resForm.append(`requestFactoryBlockForAdd.factoryBlockTitleEn`, $('#factory-block-title-uk_en_').val());
                    resForm.append(`requestFactoryBlockForAdd.factoryBlockDescriptionUk`, $('#hidden-edit-description-block-uk').html());
                    resForm.append(`requestFactoryBlockForAdd.factoryBlockDescriptionEn`, $('#hidden-edit-description-block-en').html());
                    return resForm;
                }

                function requestGetData() {
                    let request = new XMLHttpRequest();
                    request.open("GET", `${contextPath}/admin/page/factory/data`);
                    request.send();
                    request.addEventListener('load', function () {
                        if (request.status === 200) {
                            let data = JSON.parse(request.response);
                            for (let key in data) {
                                let nestedObject = data[key];
                                if (typeof nestedObject === 'object' && nestedObject !== null) {
                                    for (let nestedKey in nestedObject) {
                                        if (nestedObject.hasOwnProperty(nestedKey)) {
                                            let input = $(`input[data-name="${nestedKey}"], textarea[data-name="${nestedKey}"], div[data-name="${nestedKey}"]`);
                                            if (input) {
                                                if (input.hasClass('files')) {
                                                    let img = input.attr('data-image');
                                                    let $input = $(`#${img}`);
                                                    if ($input && nestedObject[nestedKey] && nestedObject[nestedKey] !== null) {
                                                        $input.attr('src', contextPath + nestedObject[nestedKey]);
                                                        input.val(nestedObject[nestedKey]);
                                                    }
                                                } else if (input.hasClass('editors')) {
                                                    let $div = $(input);
                                                    if ($div) {
                                                        $div.html(nestedObject[nestedKey]);
                                                        let parent = $div.parent();
                                                        let find = parent.find('.editor-realise');
                                                        getFroalaEditor(find[0].getAttribute('id'));
                                                    }
                                                } else {
                                                    if (typeof nestedObject[nestedKey] === 'boolean') {
                                                        let isActiveEl = $(`input[data-name="${nestedKey}"]`)[0];
                                                        if (isActiveEl) {
                                                            isActiveEl.checked = nestedObject[nestedKey];
                                                        }
                                                    } else if (nestedKey === 'factoryBlockFiles') {
                                                        let array = nestedObject[nestedKey];
                                                        if (Array.isArray(array)) {
                                                            array.forEach(function (el) {
                                                                addMediaImageBlock('old', el.id, el.pathToImage);
                                                            });
                                                        }
                                                    } else {
                                                        input.val(nestedObject[nestedKey]);
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    });
                }

                const PathToDefaultImage = contextPath + '/uploads/default/default-image.jpg';
                let counter = 0;

                function addMediaImageBlock(TYPE, ID, PATH) {
                    const newBlock = document.createElement('div');
                    newBlock.className = 'col-3 row text-center position-relative';
                    let UUID = new Date().getTime();
                    if (ID) UUID = ID;
                    newBlock.dataset.id = UUID;
                    newBlock.dataset.type = TYPE;
                    newBlock.innerHTML = `
                                    <img id="image${UUID}" data-name="image${UUID}"
                                    src="${PATH ? contextPath + PATH : PathToDefaultImage}"
                                    alt="error" style="width: 100%; height: 167px;display: block; margin: 0 auto;"
                                    data-error="requestFactoryBlockForAdd.factoryBlockFiles[${counter}].fileImage">
                                    <div class="d-flex justify-content-center gap-3">
                                         <button type="button" data-type="image${UUID}" class="btn btn-outline-success btn-select"
                                            style="left: 22%;top:42%;position: absolute; width: 57%;">Змінити
                                         </button>
                                        <button type="button" data-type="image${UUID}" data-typedelete="delete-image"
                                        class="btn btnTrashMyBefore position-absolute top-0 end-0 me-2 mt-2 btn-delete">
                                         <i class="ti ti-trash" style="font-size: x-large;"></i>
                                        </button>
                                  </div>
                             `;

                    $('#container-inputs').append(` <input type="file" id="file-image${UUID}" data-type="image${UUID}" class="files"
                                           accept="image/*" style="display: none;" data-error="file">
                                    <input type="hidden" data-name="pathToImage${UUID}" data-image="image${UUID}"
                                           class="files" data-error="pathToMediaFile" value="${PATH}">`);

                    let langActive = getActiveLangTab();
                    const container = document.getElementById('container-factory-block-images-' + langActive);
                    const addButtonContainer = document.getElementById('add-button-container');
                    // container.insertAdjacentElement('beforeend',newBlock);
                    container.insertBefore(newBlock, addButtonContainer);
                    counter++;
                }
            </script>
        </div>
    </div>
</div>
<!--/ Content -->
</body>
</html>