<!DOCTYPE html>
<html lang="uk"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{text.pages}"></title>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
        <div class="col-12 text-center text-md-start mt-3 mb-4">
            <h4 class="fw-bold title-out" th:text="#{text.informationPages}"></h4>
        </div>
        <div class="card" id="card-block">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered table-hover linkedRow"
                           id="table-data-container_">
                        <thead class="table-light">
                        <tr class="text-center">
                            <th style="min-width: 50px">ID</th>
                            <th style="min-width: 100px" th:text="#{table.header.name}"></th>
                            <th style="min-width: 100px" th:text="#{text.edit}"></th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center fw-bold" th:text="#{text.main}"></td>
                            <td class="text-center">
                                <a class="btn btn-icon btn-label-github edit-icon" th:href="@{/admin/page/main}">
                                    <i class="ti ti-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center fw-bold" th:text="#{text.catalog}"></td>
                            <td class="text-center">
                                <a class="btn btn-icon btn-label-github edit-icon" th:href="@{/admin/page/catalog}">
                                    <i class="ti ti-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="text-center fw-bold" th:text="#{text.factory}"></td>
                            <td class="text-center">
                                <a class="btn btn-icon btn-label-github edit-icon" th:href="@{/admin/page/factory}">
                                    <i class="ti ti-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="text-center fw-bold" th:text="#{text.clients}"></td>
                            <td class="text-center">
                                <a class="btn btn-icon btn-label-github edit-icon" th:href="@{/admin/page/clients}">
                                    <i class="ti ti-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            selectedLanguage();
        });
    </script>
</div>
<!--/ Content -->
</body>
</html>