<!DOCTYPE html>
<html lang="uk"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{text.users}"></title>

    <style>
        .user-status-icon {
            cursor: pointer;
            font-size: 1.2rem;
            transition: all 0.3s ease;
            color: #6c757d;
        }

        .user-status-icon:hover {
            color: #ff5050;
            filter: drop-shadow(0 0 12px rgb(148, 51, 51));
            transform: scale(1.05);
        }

        .user-status-icon i {
            display: inline-block;
            transition: all 0.3s ease;
        }

        .user-status-icon:hover i {
            color: #ff5050;
            transform: scale(1.05);
        }
    </style>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
        <!-- Header content -->
        <div class="row mb-4">
            <div class="col-12 d-flex flex-wrap align-items-center justify-content-start gap-2 mb-3">
                <a th:href="@{/admin/users}" class="d-flex align-items-center">
                    <i class="ti ti-arrow-left icon-hover-arrow" style="color: green; font-size: 30px;"></i>
                </a>
                <span th:text="#{text.users}"></span>
                <i class="ti ti-arrow-right text-muted" style="font-size: 15px;"></i>
                <span class="fw-bold" data-text="fullName"></span>
            </div>

            <div class="col-12 d-flex flex-column flex-md-row justify-content-end align-items-md-center gap-3">
                <!--                <div class="d-flex align-items-center">-->
                <!--                    <h4 class="title-out-user mb-0 fw-bold" data-text="fullName"></h4>-->
                <!--                </div>-->

                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a class="user-status-icon d-flex align-items-center justify-content-center"
                       type="button" th:data-id="${id}"
                       style="text-decoration: none; background: none; border: none; padding: 0; cursor: pointer;">
                        <i th:classappend="${userStatus != 'isActive'? 'ti-arrow-back-up text-warning':'ti-forbid text-danger'}"
                           class="ti fs-4" style="transition: none;"></i>
                    </a>
                    <input id="registrationType_" class="form-control bg-light" type="text" style="width: auto;"
                           disabled="">

                </div>
            </div>
        </div>
        <!--/ Header content -->
        <div class="row">
            <div id="header-block-uk"></div>
            <div id="image-block-uk" class="col-12 col-md-4 col-lg-3 mb-4 text-center">
                <div class="card p-3 shadow-none border">
                    <div class="position-relative d-inline-block w-100">
                        <img id="fileImage" data-name="fileImage"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGL-nM5H8eZfM19UQbIgDn0XwOUj1ByAyV4Q&s"
                             alt="User image" class="rounded img-fluid"
                             style="height: 250px; object-fit: cover; width: 100%;">

                        <a type="button" data-type="fileImage"
                           class="btn btn-sm btnTrashMyBefore position-absolute btn-delete"
                           style="top: 10px; right: 10px;">
                            <i class="ti ti-trash"></i>
                        </a>
                    </div>
                    <button type="button" data-type="fileImage" class="btn btn-outline-success btn-select mt-3 w-100"
                            th:text="#{text.button.change}"></button>
                    <small class="text-muted mt-2 d-block" th:text="#{text.mediaSize5}"></small>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="row g-4">
                    <div class="col-12 col-lg-6">
                        <h5 class="pb-2 border-bottom fw-bold" th:text="#{text.contactInformation}"></h5>
                        <div class="mb-3">
                            <label for="fullName_" class="form-label" th:text="#{table.header.fio}+'*'"></label>
                            <input class="form-control" id="fullName_" type="text" data-name="fullName"
                                   th:placeholder="#{text.fullNamePerson}"/>
                        </div>
                        <div class="mb-3">
                            <label for="phone_" class="form-label" th:text="#{table.header.phone}+'*'"></label>
                            <input class="form-control" id="phone_" type="text" data-name="phone"
                                   placeholder="+38067123123"/>
                        </div>
                        <div class="mb-3">
                            <label for="email_" class="form-label" th:text="#{table.header.email}+'*'"></label>
                            <input class="form-control" id="email_" type="text" data-name="email"
                                   placeholder="ivanivanov@gmail.com"/>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <h5 class="pb-2 border-bottom fw-bold" th:text="#{text.addressForDeliveryOnUkraine}"></h5>
                        <div class="mb-3">
                            <label for="region_" class="form-label" th:text="#{text.regions}+'*'"></label>
                            <select class="form-select" id="region_" data-name="regionForDeliveryId">
                                <option th:text="#{text.regions}" value="" selected></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="city_" class="form-label" th:text="#{table.header.city}+'*'"></label>
                            <select class="form-select" id="city_" data-name="cityForDeliveryId" disabled>
                                <option th:text="#{text.cities}" value="" selected></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="departmentForDelivery_" class="form-label"
                                   th:text="#{text.departmentOfNP}+'*'"></label>
                            <input class="form-control" id="departmentForDelivery_" type="text"
                                   data-name="departmentForDeliveryId"
                                   th:placeholder="#{text.placeholderDepartmentNewPost}"/>
                        </div>
                    </div>
                </div>

                <div class="row g-4 pt-4" id="container-user-details_" style="display: none">
                    <div class="col-12 col-lg-6">
                        <h5 class="pb-2 border-bottom fw-bold" th:text="#{text.props}"></h5>
                        <div id="container-okpo_" class="mb-3" style="display: none;">
                            <label class="form-label" th:text="#{text.okpo}"></label>
                            <input class="form-control" id="okpo_" type="text" data-name="okpo"
                                   th:placeholder="#{text.okpo}"/>
                        </div>
                        <div id="container-edrpou_" class="mb-3" style="display: none;">
                            <label class="form-label" th:text="#{text.erdpou}"></label>
                            <input class="form-control" id="edrpou_" type="text" data-name="edrpou"
                                   th:placeholder="#{text.erdpou}"/>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5 class="pb-2 border-bottom fw-bold" id="title-registration_"></h5>
                        <div class="row g-2">
                            <div class="col-12 col-md-6">
                                <select class="form-select" id="regionAdditionallyId_" data-name="regionAdditionallyId">
                                    <option value="" selected th:text="#{text.regions}"></option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <select class="form-select" id="cityAdditionallyId_" data-name="cityAdditionallyId"
                                        disabled>
                                    <option value="" selected th:text="#{text.cities}"></option>
                                </select>
                            </div>
                            <div class="col-12">
                                <input class="form-control" id="addressAdditionally_" type="text"
                                       data-name="addressAdditionally" th:placeholder="#{table.header.address}+'*'"/>
                            </div>
                            <div id="container-index_" class="col-12" style="display: none;">
                                <input class="form-control" id="indexLawful_" type="text" data-name="indexLawful"
                                       th:placeholder="#{text.index}+'*'"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12 text-center text-md-center">
                    <button type="button" class="btn btn-green px-5 py-2 w-50 w-md-auto" id="btn-save_"
                            th:text="#{text.button.save}"></button>
                </div>
            </div>

            <div class="row mt-5 pt-5">
                <div class="col-12 text-center mb-4">
                    <h4 class="fw-bold" th:text="#{text.ordersHistory}"></h4>
                </div>

                <div class="card shadow-sm" id="card-block">
                    <div class="card-body">
                        <div class="row mb-3 align-items-center">
                            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                                <label class="d-flex align-items-center gap-2">
                                    <span th:text="#{text.show}"></span>
                                    <select class="form-select form-select-sm" id="pick-size-for-pagination_"
                                            name="size" style="width: auto;">
                                        <option value="1">1</option>
                                        <option value="5" selected>5</option>
                                        <option value="20">20</option>
                                    </select>
                                    <span th:text="#{text.entries}"></span>
                                </label>
                            </div>
                        </div>

                        <div id="error-container"></div>

                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered table-hover linkedRow"
                                   id="table-data-container_">
                                <thead>
                                <tr>
                                    <th style="min-width: 100px; text-align: center;"
                                        th:text="#{table.header.order}"></th>
                                    <th style="min-width: 150px; text-align: center;"
                                        th:text="#{table.header.date}"></th>
                                    <th style="min-width: 150px; text-align: center;"
                                        th:text="#{table.header.statusOrder}"></th>
                                    <th style="min-width: 120px; text-align: center;"
                                        th:text="#{table.header.summa}"></th>
                                    <th style="min-width: 150px; text-align: center;"
                                        th:text="#{table.header.statusPayment}"></th>
                                    <th style="width: 50px;"></th>
                                </tr>
                                <tr>
                                    <th><input class="form-control form-control-sm" name="id"/></th>
                                    <th>
                                        <div class="input-group input-group-merge">
                                            <input type="text" class="form-control input-card-block-spinner"
                                                   id="dateOfOrdering_"
                                                   name="date" autocomplete="off"/>
                                            <span class="input-group-text" onclick="focusInput(this)">
                                        <i class="ti ti-calendar"></i>
                                    </span>
                                        </div>
                                    </th>
                                    <th>
                                        <select class="form-select form-select-sm" name="statusOrder">
                                            <option value="" selected th:text="#{value.status.all}"></option>
                                            <option value="inProgress" th:text="#{value.status.inProcess}"></option>
                                            <option value="new_" th:text="#{value.status.new}"></option>
                                        </select>
                                    </th>
                                    <th></th>
                                    <th>
                                        <select class="form-select form-select-sm" name="typePayment">
                                            <option value="" selected th:text="#{value.status.all}"></option>
                                            <option value="card" th:text="#{value.status.card}"></option>
                                        </select>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="table-pagination-container_"
                             class="mt-3 d-flex justify-content-center justify-content-md-end"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hidden Inputs-->
        <input type="hidden" id="id_" th:value="${id}">
        <input type="file" id="file-fileImage" data-type="fileImage" class="files"
               accept="image/*" style="display: none;">
        <input type="hidden" data-name="pathToImage" class="files" data-image="fileImage">
        <input type="hidden" name="size" value="5">
        <!--/ Hidden Inputs-->


        <!-- Modal -->
        <div class="modal fade show" id="ModalForDelete" tabindex="-1" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center" style="font-size: 20px"
                         th:text="#{text.areYouSureToDeleteProduct}">
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/admin/product/{id}/delete (id=${id})}" class="btn btn-danger float-end"
                           th:text="#{text.yes}"></a>
                        <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal"
                                th:text="#{text.no}">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Modal -->

        <script th:src="@{/js/image.js}"></script>
        <script th:src="@{/js/validator.js}"></script>
        <script th:src="@{/js/event-listener.js}"></script>
        <script th:src="@{/js/modal.js}"></script>
        <script th:src="@{/js/table.js}"></script>


        <script>
            const inputs = ['id', 'date', 'statusOrder', 'price', 'typePayment'];
            let timeoutId;
            let userStatus;
            let pathToTable;
            let pathToPagination;

            $(document).ready(function () {
                let id = $('#id_').val();
                pathToTable = `${contextPath}/admin/user/${id}/orders/table/load`;
                pathToPagination = `${contextPath}/admin/user/${id}/pagination/load`;

                requestGetUser(id);
                addEventListenersImage2();
                saveUser();
                selectedLanguage();

                invokeRequest(inputs, 0);
            });

            function saveUser() {
                $(`#btn-save_`).on('click', function () {
                    const url = `${contextPath}/admin/user-${userStatus}/save`;
                    saveRequest(url);
                });
            }
        </script>
        <script>

            async function initLocationSelectors() {
                await getRegions();
                addEventListenerChangeRegion($("#region_"), $("#city_"));
                addEventListenerChangeRegion($("#regionAdditionallyId_"), $("#cityAdditionallyId_"));
            }

            function addEventListenerChangeRegion(elR, elC) {
                elR.on('change', function () {
                    let regionId = $(this).val();
                    const option = elC.find('option:first').prop('outerHTML');
                    elC.html(option);
                    if (!regionId && regionId === '') {
                        elC.prop('disabled', true);
                    } else {
                        elC.prop('disabled', false);
                        getCities(regionId, elC);
                    }
                });
            }

            function getRegions() {
                return $.get(`${contextPath}/admin/regions/get`).done(function (data) {
                    fillDataInSelectors(data, $("#regionAdditionallyId_"));
                    fillDataInSelectors(data, $("#region_"));
                });
            }

            function getCities(regionId, elSelector) {
                return $.get(`${contextPath}/admin/cities?regionId=${regionId}`).done(function (data) {
                    const firstOption = elSelector.find('option:first').prop('outerHTML');
                    elSelector.html(firstOption);

                    fillDataInSelectors(data, elSelector);
                    elSelector.prop('disabled', false);
                });
            }

            function fillDataInSelectors(arr, elSelector) {
                if (elSelector) {
                    arr.forEach(function (el) {
                        let option = document.createElement("option");
                        option.value = el.id;
                        option.textContent = el.name;
                        elSelector.append(option);
                    });
                }
            }

            function saveRequest(url) {
                let formData = getFormData();
                $.ajax({
                    type: "post",
                    url: url,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        window.location.replace(contextPath + '/admin/users');
                    },
                    error: function (error) {
                        clearValid();
                        let data = JSON.parse(error.responseText);
                        validate2(data);
                        console.log("Error submitting form:", error);
                    }
                });
            }

            function getFormData() {
                const resForm = new FormData();
                resForm.append("id", $('#id_').val());
                resForm.append("fullName", $('#fullName_').val());
                resForm.append('phone', $('#phone_').val());
                resForm.append('email', $('#email_').val());
                let regionId = $('#region_').val();
                if (regionId) {
                    resForm.append('regionForDeliveryId', regionId);
                }

                let cityId = $('#city_').val();
                if (cityId) {
                    resForm.append('cityForDeliveryId', cityId);
                }

                let department = $('#departmentForDelivery_').val();
                console.log(department)
                if (department) {
                    resForm.append('departmentForDeliveryId', department);
                }

                resForm.append("pathToImage", $(`input[data-name="pathToImage"]`).val());
                let file = $('#file-fileImage')[0].files[0];
                if (file) {
                    resForm.append('fileImage', file);
                }

                if (userStatus === 'legal' || userStatus === 'fop') {
                    let cityId = $(`#cityAdditionallyId_`).val();
                    let regionId = $(`#regionAdditionallyId_`).val();
                    if (cityId) {
                        resForm.append('cityAdditionallyId', cityId);
                    }
                    if (regionId) {
                        resForm.append('regionAdditionallyId', regionId);
                    }
                    resForm.append('addressAdditionally', $(`#addressAdditionally_`).val());
                    if (userStatus === 'legal') {
                        resForm.append('okpo', $(`#okpo_`).val());
                        resForm.append('indexLawful', $(`#indexLawful_`).val());
                    } else if (userStatus === 'fop') {
                        resForm.append('edrpou', $(`#edrpou_`).val());
                    }
                }
                return resForm;
            }
        </script>

        <script>
            async function requestGetUser(id) {
                let data = await $.get(`${contextPath}/admin/user/${id}`);
                userStatus = data.registrationType;
                $(`#registrationType_`).val(returnUserStatus(userStatus));
                if (userStatus === 'legal' || userStatus === 'fop') {
                    if (userStatus === 'legal') {
                        $(`#container-index_`).css("display", 'block');
                        $(`#container-okpo_`).css("display", 'block');
                    } else if (userStatus === 'fop') {
                        $(`#container-edrpou_`).css("display", 'block');
                    }
                    $(`#container-user-details_`).css("display", 'flex');
                    $(`#title-registration_`).text(returnUserStatus(userStatus) + ': ');
                }
                for (let key in data) {
                    if (data.hasOwnProperty(key)) {
                        if (!data[key]) continue;
                        let input = $(`input[data-name="${key}"], textarea[data-name="${key}"], div[data-name="${key}"], select[data-name="${key}"]`);
                        if (input) {
                            if (input.hasClass('files')) {
                                let img = input.attr('data-image');
                                let $input = $(`#${img}`);
                                if ($input && data[key] !== null) {
                                    $input.attr('src', data[key] === '' ? path_default_image : contextPath + data[key]);
                                    input.val(data[key]);
                                }
                            } else {
                                if (key === 'fullName') {
                                    $(`span[data-text="fullName"]`).text(data[key]);
                                    $(`div[data-text="fullName"]`).text(data[key]);
                                    input.val(data[key]);
                                } else {
                                    input.val(data[key]);
                                }
                            }
                        }
                    }
                }
                await initLocationSelectors();
                if (data.regionForDeliveryId != null && data.cityForDeliveryId !== null) {
                    $('#region_').val(data.regionForDeliveryId);
                    await getCities(data.regionForDeliveryId, $('#city_'));
                    $('#city_').val(data.cityForDeliveryId);
                }

                if (data.regionAdditionallyId != null && data.cityAdditionallyId !== null) {
                    $('#regionAdditionallyId_').val(data.regionAdditionallyId);
                    await getCities(data.regionAdditionallyId, $('#cityAdditionallyId_'));
                    $('#cityAdditionallyId_').val(data.cityAdditionallyId);
                }
            }

            $(document).on('click', '.user-status-icon', function () {
                let id = $(this).attr('data-id');
                $.ajax({
                    type: "POST",
                    url: `${contextPath}/admin/user/${id}/change`,
                    success: function () {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log("Error submitting form:", error);
                    }
                });
            });

            document.body.addEventListener('htmx:afterSwap', function (event) {
                if (event.target.id === 'table-data-container_') {
                    const datePicker = $("#dateOfOrdering_");
                    datePicker.datepicker({
                        format: "dd.mm.yyyy"
                    }).on('changeDate', function () {
                        htmx.trigger($("#dateOfOrdering_")[0], 'input')
                    });
                }
            });
        </script>
    </div>
</div>
<!--/ Content -->
</body>
</html>