<html lang="uk"
	  layout:decorate="~{web/blocks/layout.html}"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns="http://www.w3.org/1999/html">
<head>
	<title th:text="#{text.factory}"></title>
	<script th:src="@{/js/swiperMy.js}"></script>
</head>

<body>
<div layout:fragment="content">
	<section class="first-section overlay" th:style="'background-image: url('+@{/blacksea/img/Untitled-23.jpg}+')'">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a th:href="@{/web/main}" th:text="#{text.main}"></a>
					</li>
					<li>
						<span th:text="#{text.paymentAndDelivery}"></span>
					</li>
				</ul>
			</div>
			<div class="row align-items-center justify-content-center">
				<h1 th:text="#{text.paymentAndDelivery}"></h1>
			</div>
		</div>
	</section>

	<section class="payment">
		<div class="tabs">
			<div class="tabs__wrap">
				<div class="container">
					<div class="row">
						<ul class="tabs__caption">
							<li class="active"><i class="nut-icon icons-vector12"></i> <span th:text="#{text.orderPayment}"></span></li>
							<li><i class="nut-icon icons-lorry"></i> <span th:text="#{text.partyDelivery}"></span></li>
							<li><i class="nut-icon icons-package"></i> <span th:text="#{text.returnOfGoods}"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="tabs__content active">
							<div class="row">
								<div class="col-md-5 col-12 align-self-center">
									<div class="tabs__content_block">
										<p class="tabs__content_title" th:text="#{text.paymentMethods}"></p>
										<ul>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery13.png}" alt="alt" th:text="#{text.cashlessPayment}"></span>
												<p th:text="#{text.cashlessPaymentDesc}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery15.png}" alt="alt" th:text="#{text.paymentByItem}"></span>
												<p th:text="#{text.paymentByItemDesc}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery14.png}" alt="alt" th:text="#{text.cashPayment}"></span>
												<p th:text="#{text.cashPaymentDesc}"></p>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-7 col-12">
									<img th:src="@{/blacksea/img/Untitled-2.jpg}" class="tabs__content_img" alt="alt">
								</div>
							</div>
						</div>
						<div class="tabs__content">
							<div class="row">
								<div class="col-md-5 col-12 align-self-center">
									<div class="tabs__content_block">
										<p class="tabs__content_title" th:text="#{text.shippingMethods}"></p>
										<ul>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery7.png}" alt="alt" th:text="#{text.shippingNovaPoshtaHeader}"></span>
												<p th:text="#{text.shippingNovaPoshtaDesc}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery8.png}" alt="alt" th:text="#{text.shippingCourierOdessaHeader}"></span>
												<p th:text="#{text.shippingCourierOdessaDesc}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery3.png}" alt="alt" th:text="#{text.shippingPickupFromWarehouseHeader}"></span>
												<p th:text="#{text.shippingPickupFromWarehouseDesc}"></p>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-7 col-12">
									<img th:src="@{/blacksea/img/Untitled-2.jpg}" class="tabs__content_img" alt="alt">
								</div>
							</div>
						</div>
						<div class="tabs__content">
							<div class="row">
								<div class="col-md-5 col-12 align-self-center">
									<div class="tabs__content_block">
										<p class="tabs__content_title" th:text="#{text.termsOfReturnOfGoods}"></p>
										<ul>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery12.png}" alt="alt" th:text="#{text.productCanReturnReasonHeader1}"></span>
												<p th:text="#{text.productCanReturnReason1}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery11.png}" alt="alt" th:text="#{text.productCanReturnReasonHeader2}"></span>
												<p th:text="#{text.productCanReturnReason2}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery10.png}" alt="alt" th:text="#{text.productCanReturnReasonHeader4}"></span>
												<p th:text="#{text.productCanReturnReason4}"></p>
											</li>
											<li>
												<span><img th:src="@{/blacksea/img/icon-delivery9.png}" alt="alt" th:text="#{text.productCanReturnReasonHeader5}"></span>
												<p th:text="#{text.productCanReturnReason5}"></p>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-7 col-12">
									<img th:src="@{/blacksea/img/Untitled-2.jpg}" class="tabs__content_img" alt="alt">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="container-numbers" class="timer"></section>

	<div id="banner-aim" class="parallax" data-scrollax-parent="true"></div>

</div>

<script layout:fragment="script">
	$(document).ready(function () {
		invokeRequestPaymentData();
	});

	function invokeRequestPaymentData() {
		let request = new XMLHttpRequest();
		let lang = getCurrentLang();
		request.open("GET", contextPath + `/web/payment/data?lang=${lang}`)
		request.send();
		request.addEventListener('load', function () {
			if (request.status === 200) {
				let data = JSON.parse(request.response);
				console.log(data);
				buildBanner(data.banner,'container-banner');
				buildNumber(data.numbers,'container-numbers');
				buildBannerTwo(data.aim,'banner-aim');
				buildContacts(data.contacts);
			}
		});
	}

</script>
</body>
</html>
