.icon-hover-arrow {
    color: green;
    font-size: 30px;
    border-radius: 50%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.icon-hover-arrow:hover {
    background-color: rgba(0, 128, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    border-radius: 50%;
}

.btnTrashMyBefore {
    color: black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: none !important;
}

.btnTrashMyBefore:hover {
    color: red !important;
    box-shadow: none !important;
    transform: scale(1.1) !important;
}
/* не focus/active */

.active-buttonMy {
    background: currentColor;
}

.btn-logout {
    background: #334A2E;
    border: #334A2E;
}

.btn-logout:hover {
    background: #083b08 !important;
}

.btn-green {
    background: #337D5A;
    border: #337D5A;
    color: white;
}

.btn-green:hover {
    color: white;
    background: #276046 !important;
}

.button-dropdown:hover {
    background: rgba(108, 184, 108, 0.57) !important;
    color: white;
}

.button-dropdown-logout:hover {
    background: rgba(255, 36, 43, 0.57) !important;
    color: white;
}

.btn-logout:focus,
.btn-logout[aria-expanded="true"] {
    background: #083b08 !important;
    box-shadow: none;
}

.title-out {
    font-size: large;
    font-weight: bold;
    color: green;
}

.title-out-user {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.sk-primary .sk-rect {
    background-color: green;
}

.sidebar-title {
    color: #029f02 !important;
    border-bottom: 1px solid #029f02 !important;;
}

.sidebar-icon-green {
    color: #029f02 !important;
    fill: #029f02 !important;
    stroke: #029f02 !important;
}

.sidebar-icon-white {
    color: #ffffff;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-image: none !important;
    background-color: #28a745 !important;
    color: #fff !important;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #e2f2e6 !important;
    border-color: #28a745 !important;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #f0fdf4 !important;
    cursor: pointer;
}

.form-control {
    border-color: #ced4da;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #28a745 !important;
    outline: 0;
    box-shadow: 0 0 0 0.05rem rgba(40, 167, 69, 0.25) !important;
}

#dateOfOrdering_:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.05rem rgba(40, 167, 69, 0.25) !important;
}

.input-group-merge .form-control:focus,
.input-group-merge .form-control:focus ~ .input-group-text {
    border-color: #28a745 !important;
}

.input-group-merge:focus-within {
    box-shadow: 0 0 0 0.05rem rgba(40, 167, 69, 0.25);
    border-radius: 0.375rem;
}

.input-group-merge .form-control:focus {
    box-shadow: none !important;
}

.input-group-merge .form-control:focus ~ .input-group-text i {
    color: #28a745;
}

.form-select {
    border-color: #ced4da;
}

.form-select:focus,
#pick-type-of-payment_:focus {
    color: #212529;
    background-color: #fff;
    border-color: #28a745 !important;
    outline: 0;
    box-shadow: 0 0 0 0.05rem rgba(40, 167, 69, 0.25) !important;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2328a745' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;

    background-size: 16px 16px !important;
}

.eye-icon-preview {
    font-size: x-large;
    color: #28a745;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.eye-icon-preview:hover {
    color: #218838;
    background-color: rgba(40, 167, 69, 0.1);
    box-shadow: 0 0 12px rgba(40, 167, 69, 0.4);
    transform: scale(1.1);
}

.pointer {
    cursor: pointer;
}