@media (max-width: 767px) {
    .table-responsive input.form-control,
    .table-responsive select.form-select,
    .table-responsive .input-group {
        font-size: 14px;
    }

    .table-responsive .input-group input.form-control {
        min-width: auto;
    }

    .card-header {
        padding: 1.2rem 0.5rem !important;
    }
}

.navbar-nav .dropdown-menu {
    top: 100% !important;
    bottom: auto !important;
    margin-top: 0.125rem !important;
    transform: none !important;
}

@media (max-width: 992px) {
    .navbar-nav .dropdown-menu {
        position: absolute !important;
        left: 0 !important;
    }
}

@media (max-width: 1200px) {
    .drag-target {
        height: calc(100% - 70px) !important;
        width: 20px !important;
    }
}