
.card-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.card_input{
    width: 100%;
    box-sizing: border-box;
    border: #ddd solid 1px;
    border-radius: 6px;
    color: #555;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 14px;
    outline: none;
    font-family: inherit;
}

.card-button{
    width: 100%;
    background-color: #7dc885;
    border: #7dc855 solid 2px;
    border-radius: 6px;
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.card-button:hover{
    opacity: .8;
}