.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}

.label-add {
    font-weight: bold;
    font-size: 1.1rem;
    color: inherit;
}

.btn-green {
    background-color: #1d9955 !important;
    color: #ffffff !important;

    &:hover {
        background-color: #22b866 !important;
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(51, 74, 46, 0.3) !important;
    }
}

html.light-style{
    & .label-add {
        color: #677788;
    }
}

html.dark-style {
    & .label-add {
        color: #ffffff;
    }

    & .btn-green:hover {
        box-shadow: 0 0 15px rgba(55, 251, 142, 0.4) !important;
    }
}