<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black sea walnut</title>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/tabs-localization.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}"/>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">

        <!-- Header content -->
        <div class="row">
            <div class="col-auto text-center d-flex align-items-center">
                <a th:href="@{/admin/news}"><i class="ti ti-arrow-left icon-hover-arrow"
                                               style="color: green;font-size: 30px;"></i></a>
            </div>
            <div class="col-auto text-start d-flex align-items-center">
                <span class="title-out">Центр підтримки експорту</span>
            </div>
            <div class="col-sm-1 d-flex align-items-center">
                <label class="switch switch-success">
                    <input id="status_" type="checkbox" class="switch-input" th:checked="${news.isActive}"/>
                    <span class="switch-toggle-slider">
                        <span class="switch-on"></span>
                        <span class="switch-off"></span>
                    </span>
                </label>
            </div>
        </div>
        <!--/ Header content -->

        <div class="nav-align-top">
            <ul class="nav nav-tabs" role="tablist" style="background: none;">
                <li class="nav-item">
                    <button type="button" class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#navs-ua" aria-controls="navs-ua" aria-selected="true"
                            style="margin-left: 15px;"
                            data-lang="ua">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>UA
                            </span>
                        <i class="ti ti-planet ti-sm d-sm-none"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#navs-eng" aria-controls="navs-eng" aria-selected="false"
                            data-lang="eng">
                            <span class="d-none d-sm-block">
                                <i class="tf-icons ti ti-planet ti-sm me-1_5"></i>ENG
                            </span>
                        <i class="ti ti-planet ti-sm d-sm-none"></i>
                    </button>
                </li>
            </ul>
        </div>
        <form th:hx-post="@{/admin/new/save}" enctype="multipart/form-data" hx-encoding="multipart/form-data">
            <div class="tab-content" id="pills-tabContent">
                <!-- UA TAB -->
                <div class="tab-pane fade show active" id="navs-ua" role="tabpanel"
                     data-bs-toggle="tab">
                    <div class="row">
                        <div id="image-block-ua" class="col-12 col-sm-4 mb-3"
                             style="text-align: center; position: relative; display: inline-block;">
                        </div>
                        <div class="col-12 col-sm-8 mb-3">
                            <div class="mb-3">
                                <label for="titleUA_" class="form-label" style="color: darkgrey; font-size: large;">
                                    Заголовок:</label>
                                <input th:field="*{news.titleUA}" type="text" class="form-control" id="titleUA_"
                                       name="titleUA"
                                       placeholder="Центр підтримки експорту"/>
                            </div>
                            <div class="mb-3">
                                <label for="description_ua" class="form-label"
                                       style="color: darkgrey; font-size: large;">
                                    Опис:</label>
                                <div id="description_ua"
                                     style="width: 765px; min-height: 100px; border: 1px solid #ccc;"></div>
                                <input th:field="*{news.descriptionUA}"
                                       type="hidden" id="hidden-description-ua_" name="descriptionUA">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 mb-3 text-center">
                            <label for="dateOfPublication_" class="form-label"
                                   style="display: block; margin-bottom: 5px;">
                                Дата публікування:
                            </label>
                            <div id="date-of-publication-block-ua" class="input-group input-group-merge"
                                 style="width:20%; justify-content: center; display: inline-flex;" data-lang="ua">
                            </div>
                        </div>
                        <div id="save-block-ua" class="col-12 col-sm-12 mb-3 text-center">
                        </div>
                    </div>
                </div>
                <!--/ UA TAB -->

                <!-- ENG TAB -->
                <div class="tab-pane fade mb-5" id="navs-eng" role="tabpanel"
                     data-bs-toggle="tab">
                    <div class="row">
                        <div id="image-block-eng" class="col-12 col-sm-4 mb-3"
                             style="text-align: center; position: relative; display: inline-block;">
                        </div>
                        <div class="col-12 col-sm-8 mb-3">
                            <div class="mb-3">
                                <label for="titleENG_" class="form-label" style="color: darkgrey; font-size: large;">
                                    Title:</label>
                                <input th:field="*{news.titleENG}"
                                       id="titleENG_" type="text" class="form-control" name="titleENG"
                                       placeholder="Export Support Center"
                                       aria-describedby="defaultFormControlHelp"/>
                            </div>
                            <div class="mb-3">
                                <label for="description_eng" class="form-label"
                                       style="color: darkgrey; font-size: large;">
                                    Description:</label>
                                <div id="description_eng"
                                     style="width: 765px;min-height: 100px; border: 1px solid #ccc;"
                                ></div>
                                <input th:field="*{news.descriptionENG}"
                                       type="hidden" id="hidden-description-eng_" name="descriptionENG">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 mb-3 text-center">
                            <label for="dateOfPublication_" class="form-label"
                                   style="display: block; margin-bottom: 5px;">
                                Date of publication:
                            </label>
                            <div id="date-of-publication-block-eng" class="input-group input-group-merge"
                                 style="width:20%; justify-content: center; display: inline-flex;">
                            </div>
                        </div>
                        <div id="save-block-eng" class="col-12 col-sm-12 mb-3 text-center">
                        </div>
                    </div>
                </div>
                <!--/ ENG TAB -->

                <input type="hidden" id="hidden-status_" name="isActive" value="false">
                <input type="file" id="file_" name="file"
                       accept="image/*,video/*" style="display: none;">
                <input type="hidden" name="id" th:field="*{news.id}">
                <input type="hidden" id="hidden-path-to-media_" th:field="*{news.pathToImage}">

                <!-- Image Base -->
                <div id="shared-image" class="shared-image" style="display: none;">
                    <div class="text-center" style="position: relative; display: inline-block;">
                        <img th:src="${(!news.getPathToImage().isEmpty() && news.getPathToImage().contains('/image/')) ? news.getPathToImage():'/uploads/default/default-image.jpg'}"
                             th:styleappend="${news.getPathToImage().contains('/image/')? '' : 'display:none;'}"
                             id="img_"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGL-nM5H8eZfM19UQbIgDn0XwOUj1ByAyV4Q&s"
                             alt="error"
                             style="width: 100%; height: 304px; display: block; margin: 0 auto;">

                        <video th:src="${(!news.getPathToImage().isEmpty()) ? news.getPathToImage():'/uploads/default/default-image.jpg'}"
                               th:styleappend="${news.getPathToImage().contains('/video/')? '' : 'display:none;'}"
                               id="video_" controls
                               style="width: 345px; height: 304px; margin: 0 auto;"></video>

                        <button type="button" id="btn-select_" class="btn btn-success btn-image" style="left: 13%;">
                            Змінити
                        </button>
                        <button type="button" id="btn-delete_" class="btn btn-success btn-image" style="right: 13%;">
                            Видалити
                        </button>
                        <span style="font-size: large; color: darkgrey; display: block; margin-top: 10px;">
                        png, jpg, jpeg, mp4 до 15 МБ
                        </span>
                    </div>
                </div>
                <!--/ Image Base -->

                <!-- Date of publication Base -->
                <div id="shared-date" style="display: none;">
                    <input th:field="*{news.dateOfPublication}" type="text" class="form-control"
                           id="dateOfPublication_"
                           placeholder="dd.mm.yyyy" name="dateOfPublication"/>
                    <span class="input-group-text" onclick="focusInput('date-of-publication_')">
                                <i class="ti ti-calendar"></i>
                        </span>
                </div>
                <!--/ Date of publication Base -->

                <!-- Button save Base -->
                <div id="shared-save" style="display: none;">
                    <button class="btn btn-green" type="submit" id="btn-save_" style="width: 25%;">Зберегти</button>
                </div>
                <!--/ Button save Base -->

                <script th:src="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
                <script th:src="@{/js/image.js}"></script>
                <script th:src="@{/js/validator.js}"></script>
                <script th:src="@{/js/copy.js}"></script>
                <script>
                    document.querySelectorAll('[data-bs-toggle="tab"]').forEach(tab => {
                        tab.addEventListener('shown.bs.tab', function (event) {
                            const activatedTabId = event.target ? event.target.getAttribute('data-lang') : null;
                            let previousActiveTab = event.relatedTarget ? event.relatedTarget.getAttribute('data-lang') : null;

                            console.log(`Switched to tab: ${activatedTabId}`);

                            if (previousActiveTab) {
                                copyHTMLBlockImage(`image-block-${previousActiveTab}`, 'shared-image');
                                copyHTMLBlockDate(`date-of-publication-block-${previousActiveTab}`, 'shared-date');
                                copyHTMLBlockSave(`save-block-${previousActiveTab}`, 'shared-save');
                            }

                            if (activatedTabId) {
                                copyHTMLBlockImage('shared-image', `image-block-${activatedTabId}`);
                                copyHTMLBlockDate('shared-date', `date-of-publication-block-${activatedTabId}`);
                                copyHTMLBlockSave('shared-save', `save-block-${activatedTabId}`);
                            }
                        });
                    });

                    document.addEventListener("DOMContentLoaded", function () {
                        let activeLang = getActiveLangTab();
                        copyHTMLBlockImage('shared-image', `image-block-${activeLang}`);
                        copyHTMLBlockDate('shared-date', `date-of-publication-block-${activeLang}`);
                        copyHTMLBlockSave('shared-save', `save-block-${activeLang}`);

                        let descriptionUA = document.getElementById("hidden-description-ua_").value;
                        let descriptionEN = document.getElementById("hidden-description-eng_").value;

                        var editor_ua = new FroalaEditor('#description_ua', {
                            height: 12 * 20,
                            scrollableContainer: '#description_ua',
                            events: {
                                'initialized': function () {
                                    this.html.set(descriptionUA || '');
                                },
                                'contentChanged': function () {
                                    const html = this.html.get();
                                    // console.log('UA: ', html);
                                    $("#hidden-description-ua_").html(html);
                                }
                            }
                        });

                        var editor_eng = new FroalaEditor('#description_eng', {
                            height: 12 * 20,
                            scrollableContainer: '#description_eng',
                            events: {
                                'initialized': function () {
                                    this.html.set(descriptionEN || '');
                                },
                                'contentChanged': function () {
                                    const html = this.html.get();
                                    console.log('EN: ', html);
                                    $("#hidden-description-eng_").html(html);
                                }
                            }
                        });
                    });

                    function getActiveLangTab() {
                        return document.querySelector('button.nav-link.active').getAttribute('data-lang');
                    }

                    document.querySelector('#status_').addEventListener('change', function () {
                        const statusCheckbox = document.getElementById("status_");
                        const hiddenStatus = document.getElementById("hidden-status_");
                        if (hiddenStatus) {
                            hiddenStatus.value = statusCheckbox.checked ? 'true' : 'false';
                        }
                    });

                    document.body.addEventListener('htmx:responseError', function (event) {
                        if (event.detail.xhr.status === 400) {
                            clearValid();
                            let data = JSON.parse(event.detail.xhr.responseText);
                            validate(data);
                        }
                    });
                </script>
            </div>
        </form>
    </div>
</div>
<!--/ Content -->

</body>
</html>