<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>News</title>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}"/>
</head>
<body>


<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
        <h4 class="text-center fw-bold">Table Of News</h4>
        <div class="card">
            <h5 class="card-header">News</h5>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="d-flex align-items-center">
                            <label for="pick-size-for-pagination_" class="d-flex align-items-center">Show
                                <select class="form-select mx-2" id="pick-size-for-pagination_"
                                        name="size"
                                        hx-get="/admin/news/table"
                                        hx-target="#table-data-container_"
                                        hx-swap="innerHTML"
                                        hx-include="[name=id],[name=title],[name=dateOfPublication],[name=page]">
                                    <option value="3">3</option>
                                    <option value="5" selected>5</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-end">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-9 text-end">
                                <a th:href="@{/admin/new/create}"
                                   class="btn btn-green" style="border-radius: 30%;width: 1%;">
                                    <i class="ti ti-plus"></i>
                                </a>
                            </div>
                            <div class="col-3 text-start" style="font-weight: bold;font-size: large;">
                                Добавити
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div id="table-data-container_"
                         hx-get="/admin/news/table"
                         hx-trigger="load"
                         hx-target="#table-data-container_"
                         hx-swap="innerHTML">

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label class="d-flex align-items-center" id="showing-elements_"></label>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <!--                        <nav class="d-flex justify-content-end"-->
                        <!--                             aria-label="Page navigation" id="pagination-container_">-->
                        <!--                        </nav>-->
                        <div id="pagination-container_"
                        hx-get="/admin/news/table"
                        hx-trigger="load"
                        hx-target="#pagination-container_"
                        hx-swap="innerHTML">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/pagination.js}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            // getPageWithFilter(0, 5);
        });

    </script>
</div>
<!--/ Content -->


<!-- Modal -->
<div layout:fragment="modal-content" class="modal fade modalEntity_" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title_"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-center justify-content-center gap-4"
                         style="border-right: 1px solid gray;    ">
                        <div class="col-md-12">
                            <input class="form-control fields-entity" type="text" id="title_" name="title"
                                   placeholder="John Doe"
                                   style="border: 1px solid rebeccapurple;">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control fields-entity" id="description_" name="description" rows="8"
                                      style="border: 1px solid rebeccapurple;" placeholder="Description..."></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="d-flex justify-content-center">Icon</h3>
                        <div
                                class="d-flex flex-column justify-content-center align-items-center mb-3">
                            <img id="fileImage_"
                                 alt="error" style="width: 161px; height: 181px;" class="errorMy">
                        </div>

                        <div class="d-flex justify-content-center gap-3">
                            <button id="selectFileBtn_" class="btn btn-secondary">Select image</button>
                            <button id="deleteFileBtn_" class="btn btn-secondary">Delete image</button>
                        </div>
                        <input type="file" id="fileInput" accept="image/*" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button id="submit-modal_"
                        type="button" class="btn btn-primary"
                        style="background-color: #9494CB;">
                </button>
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal"
                        style="background-color: #F6F6FA;">Cancel
                </button>
            </div>
        </div>
    </div>
    <script th:src="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
    <!--    <script th:src="@{/js/pagination.js}"></script>-->
    <!--    <script th:src="@{/js/modal.js}"></script>-->
    <!--    <script th:src="@{/js/validator.js}"></script>-->
    <!--    <script th:src="@{/js/image.js}"></script>-->
    <script>
        $("#bs-datepicker-basic").datepicker({
            format: "dd.mm.yyyy"
        });
    </script>
</div>
<!--/ Modal -->
</body>
</html>