<html lang="uk"
	  layout:decorate="~{web/blocks/layout.html}"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns="http://www.w3.org/1999/html">
<head>
	<title th:text="#{text.factory}"></title>
	<script th:src="@{/js/swiperMy.js}"></script>
</head>

<body>
<div layout:fragment="content">	
	<section id="container-banner" class="first-section overlay" style="background-image: url(/blacksea/img/about.jpg)"></section>

	<section id="factory-post" class="manufacturer"></section>

	<section class="history gray_section">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-7 col-12">
					<div class="history__blockquote">
						<div class="row no-gutters">
							<div class="col-md-5">
								<img th:src="@{/blacksea/img/men.jpg}" alt="alt">
							</div>
							<div class="col-md-7">
								<div class="blockquote_block">
									<h3 th:text="#{text.pavloFullName}"></h3>
									<p th:text="#{text.pavloAbout}"></p>
									<blockquote th:text="#{text.pavloSaying}"></blockquote>
									<a class="button button_transparent moveToContacts" th:text="#{text.writeToUs}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-12">
					<div class="history__content">
						<h3 th:text="#{text.historyCompanyTitle}"></h3>
						<p th:text="#{text.historyCompanyText1}"></p>
						<p th:text="#{text.historyCompanyText2}"></p>
						<p th:text="#{text.historyCompanyText3}"></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="container-numbers" class="timer"></section>

	<section class="benefit gray_section gallery_section">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12">
					<h2 th:text="#{text.sidebar.galleries}"></h2>
					<p th:text="#{text.companySocialActivityStaff}"></p>
				</div>
			</div>
			<div id="container-gallery" class="row justify-content-center"></div>
			<div class="row">
				<div class="wrapper">
					<a th:href="@{/web/gallery}" class="button button_transparent" th:text="#{text.viewTheEntireGallery}"></a>
				</div>
			</div>
		</div>
	</section>

	<div id="banner-factory2" class="parallax" data-scrollax-parent="true"></div>

	<section class="news gray_section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-12">
					<h2 th:text="#{text.sidebar.news}"></h2>
					<p class="news__descr" th:text="#{text.latestNewsAndUsefulInformation}"></p>
				</div>
				<div class="col-md-6 col-12 d-flex justify-content-end" id="container-navigation-news">
					<div class="nav-buttons">
						<div class="prevArrowBtn-new" tabindex="0" role="button" aria-label="Previous slide">
							<i class="ti ti-arrow-left"></i>
						</div>
						<div class="nextArrowBtn-new" tabindex="0" role="button" aria-label="Next slide">
							<i class="ti ti-arrow-right"></i>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="news-container swiper-container row d-flex justify-content-evenly">
						<div class="swiper">
							<div id="container-news" class="swiper-wrapper"></div>
						</div>
					</div>
				</div>
			</div>
			<script>
				const swiper = new Swiper('.swiper', {
					speed: 400,
					spaceBetween: 100,
					loop: true,
					slidesPerView: 1,
					slidesBetween: 30,
					navigation: {
						nextEl: ".nextArrowBtn-new",
						prevEl: ".prevArrowBtn-new",
					},
					breakpoints: {
						576: {
							slidesPerView: 2,
							spaceBetween: 20
						},
						768: {
							slidesPerView: 3,
							spaceBetween: 30
						},
					}
				});
			</script>

			<div class="row">
				<div class="wrapper">
					<a th:href="@{/web/news}" class="button button_transparent"
					   th:text="#{text.viewTheEntireGallery}"></a>
				</div>
			</div>
		</div>
	</section>
</div>

<script layout:fragment="script">

	$(document).ready(function () {
		invokeRequestFactoryData();
	});

	function invokeRequestFactoryData() {
		let request = new XMLHttpRequest();
		let lang = getCurrentLang();
		request.open("GET", contextPath + `web/factory/data?lang=${lang}`)
		request.send();
		request.addEventListener('load', function () {
			if (request.status === 200) {
				let data = JSON.parse(request.response);
				console.log(data);

				buildBanner(data.banner,'container-banner');
				buildPost(data.block,'factory-post');
				initSwipers('manufacturer-container');
				buildNumber(data.numbers,'container-numbers');
				buildGallery(data.gallery,'container-gallery');
				buildBannerTwo(data.ecology,'banner-factory2');
				buildContacts(data.contacts);
				buildNews(data.news,'container-news');
			}
		});
	}

</script>
</body>
</html>
