<!DOCTYPE html>
<html lang="uk"
      layout:decorate="~{admin/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{text.order}"></title>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/tabs-localization.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}"/>

    <style>
        .boldMy {
            font-weight: bold;
        }
    </style>
</head>
<body>
<!-- Content -->
<div layout:fragment="content" class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">

        <!-- Header content -->
        <div class="row">
            <div class="col-auto text-center d-flex align-items-center">
                <a th:href="@{/admin/orders}"><i class="ti ti-arrow-left icon-hover-arrow"
                                                 style="color: green;font-size: 30px;"></i></a>
            </div>
            <div class="col-auto text-start d-flex align-items-center">
                <span class="title-out" style="color: darkgrey;" th:text="#{text.orders}">
                <i class="ti ti-arrow-right" style="font-size: small"></i>
                    <span th:text="#{text.order}' № '+${id}"></span>
                </span>
            </div>
            <div class="mt-5">
                <h3><span th:text="#{text.order}+' № '+${id}"></span></h3>
                <div class="table-responsive" style="width: 75%">
                    <table class="table table-bordered table-hover table-striped linkedRow"
                           style="table-layout: fixed; position: static; zoom: 1;">
                        <thead>
                        <tr>
                            <th style="width: 200px" th:text="#{table.header.product}"></th>
                            <th style="width: 200px" th:text="#{table.header.name}"></th>
                            <th style="width: 137px" th:text="#{table.header.totalCount}"></th>
                            <th style="width: 137px" th:text="#{table.header.price}"></th>
                            <th style="width: 137px" th:text="#{table.header.summa}"></th>
                        </tr>
                        </thead>
                        <tbody id="table-data-container_"></tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <span th:text="#{table.header.totalPrice}+': '"></span><span id="total-summa_"></span>
                    </div>
                </div>
                <div class="mt-4 pb-4 row" style="border-bottom: 1px solid black;">
                    <div class="col-12">
                        <label class="form-label boldMy" th:text="#{text.informationAboutCustomer}+':'"></label>
                        <input id="isFop_" class="form-control" value="" style="width: 23%;">
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.fio}+':'"></label>
                        <input id="fio_" class="form-control" value="">
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.phone}+':'"></label>
                        <input id="phone_" class="form-control" value="">
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.email}+':'"></label>
                        <input id="email_" class="form-control" value="">
                    </div>
                </div>
                <div class="mt-2 pb-4 row" style="border-bottom: 1px solid black;">
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.dateOfOrdering}+':'"></label>
                        <br>
                        <span id="dateOfOrdering_"></span>
                    </div>
                </div>
                <div class="mt-2 row pb-4" style="border-bottom: 1px solid black;">
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.typeOfDelivery}+':'"></label>
                        <input id="deliveryStatus_" class="form-control" value="" disabled>
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.typeOfPayment}+':'"></label>
                        <input id="paymentType_" class="form-control" value="" disabled>
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.statusPayment}+':'"></label>
                        <input id="orderStatus_" class="form-control" value="" disabled>
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.status}+':'"></label>
                        <input id="isPayed_" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="mt-2 row pb-4" style="border-bottom: 1px solid black;">
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.city}+':'"></label>
                        <input id="city_" class="form-control" value="" disabled>
                    </div>
                    <div class="col-3">
                        <label class="form-label boldMy" th:text="#{table.header.address}+':'"></label>
                        <input id="addressDelivery_" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <a th:href="@{/admin/orders}" class="btn btn-success"
                       style="background: #334a2e !important;
                       border-color: #334a2e !important" th:text="#{text.backToListOfOrders}"></a>
                </div>
            </div>
        </div>
        <!--/ Header content -->
        <input id="id_" type="hidden" th:value="${id}">
        <script th:src="@{/js/pagination.js}"></script>
        <script>
            $(document).ready(function () {
                getData($('#id_').val());
                selectedLanguage();
            });

            function getData(id) {
                let request = new XMLHttpRequest();
                request.open('GET', `${contextPath}admin/order/${id}/data`);
                request.send();
                request.addEventListener('load', function () {
                    let data = JSON.parse(request.response);
                    console.log(data);
                    let count = 0;
                    data.orderDetails.forEach(item => {
                        count += item.totalSumma = item.price * item.count;
                    });
                    loadTable(data.orderDetails);
                    console.log(count);
                    document.getElementById('total-summa_').textContent = count;

                    for (const key in data) {
                        if (data.hasOwnProperty(key)) {
                            let elementById = document.getElementById(`${key}_`);
                            if (elementById) {
                                if (elementById.tagName === 'INPUT' || elementById.tagName === 'TEXTAREA') {
                                    if (key === 'isPayed') {
                                        elementById.value = data[key] ? 'Payed' : 'Un payed';
                                        continue;
                                    } else if (key === 'isFop') {
                                        elementById.value = data[key] ? 'Individual entrepreneur' : 'Legal entity';
                                        continue;
                                    }
                                    elementById.value = data[key];
                                } else {
                                    elementById.textContent = data[key];
                                }
                                console.log(`Field: ${key}, Value: ${data[key]}`);
                            }
                        }
                    }
                });
            }
        </script>
    </div>
</div>
<!--/ Content -->

</body>
</html>