<html lang="uk"
      layout:decorate="~{web/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{text.cart}"></title>
</head>

<body>
<div layout:fragment="content">
    <section class="first-section no-bg" style="min-height: 0 !important;">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a th:href="@{/templates/web/main}" th:text="#{text.main}"></a>
                    </li>
                    <li th:text="#{text.transaction}"></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="accaunt">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h1 id="title-transaction-num" th:text="#{text.transaction}"></h1>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="accaunt__manager">
                        <ul>
                            <li>
                                <p th:text="#{text.cartPersonalManager}"></p>
                            </li>
                            <li>
                                <i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 row">
                    <table id="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th><span th:text="#{table.header.customer}"></span></th>
                            <th><span th:text="#{table.header.date}"></span></th>
                            <th><span th:text="#{table.header.typeOfPayment}"></span></th>
                            <th><span th:text="#{table.header.statusPayment}"></span></th>
                            <th><span th:text="#{table.header.phone}"></span></th>
                            <th><span th:text="#{table.header.email}"></span></th>
                            <th><span th:text="#{table.header.summa}"></span></th>
                        </tr>
                        </thead>
                        <tbody id="container-transaction">
                        <tr>
                            <td><span class="bt-content">1</span></td>
                            <td><span class="bt-content">Роман</span></td>
                            <td><span class="bt-content">06.03.2025</span></td>
                            <td><span class="bt-content">готівка</span></td>
                            <td><span class="bt-content">в процесі</span></td>
                            <td><span class="bt-content">0663204192</span></td>
                            <td><span class="bt-content">roman12@gmail.com</span></td>
                            <td><span class="bt-content">100 <span th:text="#{text.grn}"></span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script layout:fragment="script">

    $(document).ready(async function () {
        let urlSearch = new URLSearchParams(window.location.search);
        let id = urlSearch.get('id');
        if (id !== null) {
            invokeDataTransactionById(id);
            let titleNumTransaction = $('#title-transaction-num');
            if (titleNumTransaction.length > 0) {
                let key = await changeLanguage('text.transactions', getCurrentLang());
                titleNumTransaction.text(key + ' №' + id);
            }
        }
        invokeDataContacts();
    });

    function invokeDataContacts() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `/web/contacts/get`)
        request.send();
        request.addEventListener('load', function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                buildContacts(data);
            }
        });
    }

    function invokeDataTransactionById(id) {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + `/web/transaction/${id}`)
        request.send();
        request.addEventListener('load', async function () {
            if (request.status === 200) {
                let data = JSON.parse(request.response);
                const container = $('#container-transaction');
                if (container.length) {
                    container.empty();
                    const keyGrn = await changeLanguage('text.grn', getCurrentLang());
                    let paymentTypes = {
                        cash: 'value.status.cash',
                        card: 'value.status.card',
                        invoice: 'value.status.invoice'
                    };
                    let paymentStatus = {
                        payed: 'value.status.payed',
                        unPayed: 'value.status.unPayed',
                        inProcess: 'value.status.inProcess'
                    };

                    let keyPaymentType = data.paymentType in paymentTypes
                        ? await changeLanguage(paymentTypes[data.paymentType], getCurrentLang())
                        : '';

                    let keyPaymentStatus = data.paymentStatus in paymentStatus
                        ? await changeLanguage(paymentStatus[data.paymentStatus], getCurrentLang())
                        : '';

                    container.append(`<tr>
                            <td><span class="bt-content">${data.id}</span></td>
                            <td><span class="bt-content">${data.customer}</span></td>
                            <td><span class="bt-content">${data.date}</span></td>
                            <td><span class="bt-content">${keyPaymentType}</span></td>
                            <td><span class="bt-content">${keyPaymentStatus}</span></td>
                            <td><span class="bt-content">${data.phone}</span></td>
                            <td><span class="bt-content">${data.email}</span></td>
                            <td><span class="bt-content">${data.summa} <span>${keyGrn}</span></span></td>
                        </tr>`);

                }
            }
        });
    }
</script>
</body>
</html>
