.date-new-my {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #8a8a8a;
}

.title-new-my {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    line-height: 25px;
    padding-right: 10px;
}

.card-body {
    overflow: hidden;
}

.description-new-my {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;

    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-link-new-my {
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    background-color: #337d5a;
    padding: 10px 20px;
}

.prevArrowBtn-new,
.nextArrowBtn-new {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prevArrowBtn-new i,
.nextArrowBtn-new i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
}

.prevArrowBtn-new:hover i,
.nextArrowBtn-new:hover i {
    color: white;
}

.btnWriteToUs{
    color: white !important;
}
