<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Table and Pagination</title>
</head>
<body>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped linkedRow"
           style="table-layout: fixed; position: static; zoom: 1;">
        <thead>
        <tr>
            <th style="width: 100px">ID</th>
            <th style="width: 200px">Customer</th>
            <th style="width: 200px">Email</th>
            <th style="width: 137px">Total count</th>
            <th style="width: 137px">Total price</th>
            <th style="width: 200px">Date of ordering</th>
            <th style="width: 150px">Actions</th>
        </tr>
        <tr>
            <th>
                <input class="form-control"
                       name="id"
                       th:value="${id}"/>
            </th>
            <th>
                <input class="form-control"
                       name="fullName"
                       th:value="${fullName}"/>
            </th>
            <th>
                <input class="form-control"
                       name="email"
                       th:value="${email}"/>
            </th>
            <th>
                <input class="form-control"
                       name="totalCount"
                       th:value="${totalCount}"/>
            </th>
            <th>
                <input class="form-control"
                       name="totalPrice"
                       th:value="${totalPrice}"/>
            </th>
            <th>
                <div class="input-group input-group-merge">
                    <input type="text"
                           class="form-control"
                           id="bs-datepicker-basic"
                           placeholder="dd.mm.yyyy"
                           name="dateOfOrdering"
                           th:hx-get="@{/admin/orders/table?page=0}"
                           hx-trigger="input"
                           hx-target="#table-data-container_"
                           hx-swap="innerHTML"
                           hx-include="[name=id],[name=fio],[name=email],[name=totalCount],[name=totalPrice],
                       [name=dateOfOrdering],[name=size],[name=languageCode]"
                           th:value="${dateOfOrdering}"/>
                    <span class="input-group-text">
                        <i class="ti ti-calendar"></i>
                    </span>
                </div>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.size()>0}" th:each="item : ${orders}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.fullName}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.totalCount}"></td>
            <td th:text="${item.totalPrice}"></td>
            <td th:text="${item.dateOfOrdering}"></td>
            <td>
                <div class="text-center" style="width: auto;">
                    <a class="btn btn-sm btn-github" type="button"
                       th:href="@{/admin/order/{id} (id=${item.getId()})}">
                        <i class="ti ti-eye"></i>
                    </a>
                    <a class="btn btn-sm btn-github" type="button"
                       th:href="@{/admin/order/{id_}/delete (id_=${item.id})}">
                        <i class="ti ti-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr th:unless="${orders.size()>0}">
            <td colspan="5" style="text-align: center; color: gray; font-style: italic;">No data
                available in table
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row mt-3" th:if="${orders.size()>0}">
    <div class="col-sm-12 col-md-6 d-flex align-items-center">
        <label class="d-flex align-items-center" id="showing-elements_">
            Showing&nbsp;
            <b th:text="${pageData.page * pageData.size + 1}"></b>
            &nbsp;to&nbsp;
            <b th:text="${pageData.page * pageData.size + #lists.size(orders)}"></b>
            &nbsp;of&nbsp;
            <b th:text="${pageData.totalElements}"></b>
            &nbsp;entries.
        </label>
    </div>
    <div class="col-sm-12 col-md-6" id="pagination-container_">
        <nav class="d-flex justify-content-end align-items-end" aria-label="Page navigation">
            <ul class="pagination mb-0">
                <li th:classappend="${pageData.page == 0} ? 'disabled' : 'pointer'"
                    class="page-item first">
                    <a hx-get="/admin/orders/table?&page=0"
                       class="page-link pagination-icon"
                       hx-include="[name=id],[name=title],[name=date],[name=size],[name=languageCode]">
                        <i class="ti ti-chevrons-left ti-sm"
                           th:styleappend="${pageData.page == 0}? '' : 'color:white;'"></i></a>
                </li>

                <li class="page-item prev"
                    th:classappend="${pageData.page == 0} ? 'disabled' : 'pointer'">
                    <a class="page-link pagination-icon"
                       th:hx-get="'/admin/orders/table?&page='+${pageData.page - 1}"
                       hx-include="[name=id],[name=title],[name=date],[name=size],[name=languageCode]">
                        <i class="ti ti-chevron-left ti-sm"
                           th:styleappend="${pageData.page == 0}? '' : 'color:white;'"></i></a>
                </li>

                <li th:if="${pageData.page > 3}" class="page-item disabled">
                    <span class="page-link pagination-icon">...</span>
                </li>

                <li th:each="i : ${#numbers.sequence(0, pageData.totalPages - 1)}"
                    th:if="(${pageData.page <= 2 and i <= 4}) or
           (${pageData.page >= pageData.totalPages - 3 and i >= pageData.totalPages - 5}) or
           (${i >= pageData.page - 2 and i <= pageData.page + 2})"
                    th:classappend="${i == pageData.page} ? 'active' : 'pointer'" class="page-item">
                    <a class="page-link pagination-number d-flex-full"
                       th:hx-get="'/admin/orders/table?page='+${i}"
                       hx-include="[name=id],[name=title],[name=date],[name=size],[name=languageCode]"
                       style="width: 90%;height: 100%;">
                        <span th:text="${i + 1}" style="color: white;"></span>
                    </a>
                </li>

                <li th:if="${pageData.page < pageData.totalPages - 4}" class="page-item disabled">
                    <span class="page-link pagination-icon" style="height: 100%;">...</span>
                </li>

                <li th:classappend="${pageData.page == pageData.totalPages - 1} ? 'disabled' : 'pointer'"
                    class="page-item next">
                    <a class="page-link pagination-icon"
                       th:hx-get="'/admin/orders/table?&page='+${pageData.page + 1}"
                       hx-include="[name=id],[name=title],[name=date],[name=size],[name=languageCode]">
                        <i class="ti ti-chevron-right ti-sm"
                           th:styleappend="${pageData.page == pageData.totalPages - 1}? '' : 'color:white;'"></i>
                    </a>
                </li>

                <li th:classappend="${pageData.page == pageData.totalPages - 1} ? 'disabled' : 'pointer'"
                    class="page-item last">
                    <a class="page-link pagination-icon"
                       th:hx-get="'/admin/orders/table?&page='+${pageData.totalPages - 1}"
                       hx-include="[name=id],[name=title],[name=date],[name=size],[name=languageCode]">
                        <i class="ti ti-chevrons-right ti-sm"
                           th:styleappend="${pageData.page == pageData.totalPages - 1}? '' : 'color:white;'"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div></div>
</body>
</html>
