<tbody>
<tr th:if="${data.size()>0}" th:each="item : ${data}">
    <td th:text="${item.id}"></td>
    <td th:text="${item.title}"></td>
    <td class="truncate-text" th:text="${item.description}"></td>
    <td th:text="${item.date}"></td>
    <td>
        <div class="text-center d-flex align-items-center justify-content-center" style="gap: 15px;">
            <div class="me-4">
                <label class="switch switch-success">
                    <input id="status_" type="checkbox" class="switch-input"   th:checked="${item.isActive}" th:id="${item.id}">
                    <span class="switch-toggle-slider">
                    <span class="switch-on"></span>
                    <span class="switch-off"></span>
                 </span>
                </label>
            </div>
            <a class="btnTrashMyBefore edit-icon" type="button" th:data-id="${item.id}" >
                <i class="ti ti-edit"></i>
            </a>
            <a class="btnTrashMyBefore delete-icon" type="button" th:data-id="${item.id}">
                <i class="ti ti-trash"></i>
            </a>
        </div>
    </td>
</tr>
<tr th:unless="${data.size()>0}">
    <td colspan="5" style="text-align: center; color: gray; font-style: italic;" th:text="#{text.table.exist}">
    </td>
</tr>
</tbody>