name: Java CI with Maven

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build app
        run: mvn clean package -DskipTests=true

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: gcr.io/blackseawalnut/black-sea-walnut:latest

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: black-sea-walnut
          image: gcr.io/blackseawalnut/black-sea-walnut:latest
          region: europe-west1
          credentials: ${{ secrets.GCP_SA_KEY }}