name: Java CI with Maven

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build app
        run: mvn clean package -DskipTests=true

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev --quiet

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: europe-west1-docker.pkg.dev/blackseawalnut/walnut-repo/black-sea-walnut:latest

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: black-sea-walnut
          region: europe-west1
          image: europe-west1-docker.pkg.dev/blackseawalnut/walnut-repo/black-sea-walnut:latest
          timeout: 300s
          flags: '--add-cloudsql-instances=blackseawalnut:europe-west1:walnut-mysql'
          env_vars: |
              PORT=8080
              DB_URL=jdbc:mysql:///black_sea_walnut?cloudSqlInstance=blackseawalnut:europe-west1:walnut-mysql&socketFactory=com.google.cloud.sql.mysql.SocketFactory
              DB_USERNAME=roma
              DB_PASSWORD=root